<div data-ng-controller="uploadgstr1ctrl">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-true-value="'Y'" ng-false-value="'N'" ng-click="checkAll(TaxPayerSummaryList, selectAll)"
                                    />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_ORG_YEAR"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_ORG_MONTH" ng-click="sort('omon')">Original Month</th>
                                <th class="gstTblHeadr dtTblHdr reg m-cir sort " ng-click="sort('pos')">Place Of Supply</th>
                                <!--data-ng-bind="trans.LBL_REC_STATECD"-->
                                <!-- <th class="gstTblHeadr dtTblHdr " ng-click="sort('ad_Amt')"> Gross Taxable Amount</th>-->
                                <th class="gstTblHeadr spTblHdr reg m-cir " data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>
                                <th class="gstTblHeadr m100TblHdr">Applicable % of Tax Rate</th>
                                <!-- <th class="gstTblHeadr">Sale from Bonded WH</th> -->
                                <th class="gstTblHeadr">Status</th>
                                <th class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_ACTIONS"></th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            <tr dir-paginate="y in TaxPayerSummaryList | itemsPerPage: pageSize" current-page="currentPage" total-items="totalAvailable" ng-form="invFrm">
                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" id="single_check{{$index}}" ng-model="y.select" ng-true-value="'Y'" ng-false-value="'N'"
                                    />
                                    <label for="single_check{{$index}}"></label>
                                </td>
                                <td class="text-center" data-ng-class="{'has-error':  (invFrm.oyear.$error.required)}">                                    
                                    <select name="oyear" class="form-control" data-ng-options="item.year as item.year for item in years" data-ng-model="y.oyear.year"
                                        data-ng-change="onYearChange(y)" required data-ng-disabled="true"></select>
                                </td>
                                <td class="text-center" data-ng-class="{'has-error':  (invFrm.omon.$error.required)}">                                  
                                    <select name="omon" class="form-control" id="omon" ng-options="opt.value as opt.month for opt in y.oyear.months" ng-model="y.omon"
                                        ng-required="true" data-ng-disabled="true"></select>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="opt.cd as opt.cd+'-'+opt.nm for opt in StateList" ng-model="y.pos" data-ng-disabled="true"
                                        ng-change="onCtinChange(y);onPosChange(y)">
                                        <option value="">Select</option>
                                    </select>
                                </td>
                                <!--!invFrm.edb -->


                                <td>

                                    <select class="form-control" ng-options="option.cd as option.name for option in suplyList " ng-model="y.sply_ty" data-ng-disabled="true"></select>
                                    <!--!invFrm.edb -->
                                </td>
                                <!-- <td class="text-center pRel" title="Is the supply eligible to be taxed at 65% of the existing rate of tax, as notified by the Government?">
                                    <select class="form-control" ng-options="option.value as option.name for option in differentialPercent"  id="diff_percent" data-ng-change="onDiffPerChange(y);"  data-ng-model="y.diff_percent" data-ng-disabled="!invFrm.edb">
                                        <option value="">Select</option>
                                    </select>
                                </td> -->
                                <td class="text-center pRel" title="{{trans.LBL_Diff_Percent_title_text}}">
                                    <select class="form-control" ng-options="option.value as option.name for option in differentialPercent"  id="diff_percent" data-ng-change="onDiffPerChange(y);"  data-ng-model="y.diff_percent" data-ng-disabled="true">
                                        <option value="">Select</option>
                                    </select>
                                </td>
                                <!-- <td class="text-center pRel">
                                    <input type="checkbox" class="chkbx" ng-model="y.inv_typ" ng-true-value="'CBW'" ng-false-value="null" data-ng-disabled="!invFrm.edb" data-ng-change="onCBWChange(y)"
                                    />
                                    <label for="checkbox_all"></label>
                                    
                                </td> -->
                                <td class="text-center">
                            <span class="text-center" ng-bind="y.flag"></span>
                            <!--
                            <div class="text-center" ng-if="y.flag=='A'">A</div>
                            <div class="text-center" ng-if="y.flag=='R'">R</div>
                            <div class="text-center" ng-if="y.flag=='M'">M</div>
                            <div class="text-center" ng-if="y.flag=='N'">N</div>
                            <div class="text-center" ng-if="y.flag=='P'">P</div>-->

                        </td>

                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb" data-ng-click="gotoAddItems(y)" tabindex="0" data-ng-disabled="invFrm.$invalid"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                    <!--  <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb" data-ng-click="invFrm.edb=!invFrm.edb;updateInvoice(y)"
                                tabindex="0" data-ng-disabled="invFrm.$invalid"><i class="fa fa-save" aria-hidden="true"></i></button>-->
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb" data-ng-click="invFrm.edb = !invFrm.edb " tabindex="0"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tr ng-form="newInvFrm" ng-show="isLastPage(currentPage, pageSize)">
                            <td></td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.oyear),'has-success': newInvValidtr && (newInvRw.oyear) }">
                                <select name="oyear" class="form-control" data-ng-options="item.year for item in years " data-ng-model="newInvRw.oyear" data-ng-change="onYearChange(newInvRw)"
                                    required>
                                    <option label="Select" value="" data-ng-selected="true" disabled></option></select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.oyear" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>


                            <td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.omon),'has-success': newInvValidtr && (newInvRw.omon) }">
                                <select name="omon" class="form-control" id="omon" ng-options="opt.value as opt.month for opt in newInvRw.oyear.months" ng-model="newInvRw.omon">
                                 <option label="Select" value="" data-ng-selected="true" disabled></option></select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.omon" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.supst_cd.$error.required || newInvFrm.supst_cd.$invalid),'has-success': newInvValidtr && newInvFrm.supst_cd.$valid}">
                                <select class="form-control" name="supst_cd" ng-model="newInvRw.pos" ng-change="onCtinChange(newInvRw);onPosChange(newInvRw);"
                                    ng-required="true">
							<option value="">Select</option>
										<option data-ng-repeat="opt in StateList" data-ng-bind="opt.cd+'-'+opt.nm" value="{{opt.cd}}"></option>
							</select>
                                <!---->
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.supst_cd.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>

                                <span class="err" data-ng-show="newInvRw.pos && newInvFrm.supst_cd.$invalid">This Place of Supply (POS) already exists. Please enter another POS.</span>
                            </td>




                            <td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.sply_ty),'has-success': newInvValidtr && newInvRw.sply_ty }">
                                <select name="sply_ty" class="form-control" id="stype" ng-options="option.cd as option.name for option in suplyList" ng-model="newInvRw.sply_ty"
                                    disabled></select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.sply_ty" data-ng-bind="trans.ERR_MANDATORY"></span>

                            </td>
                            <td class="text-center pRel" title="{{trans.LBL_Diff_Percent_title_text}}">
                                <select class="form-control" ng-options="opt.name for opt in differentialPercent" data-ng-change="onDiffPerChange(newInvRw);" id="diff_percent" data-ng-model="newInvRw.diff_percent">
                                    <option value="">Select</option>
                                </select>
                            </td>
                            <!-- <td class="text-center pRel">
                                <input type="checkbox" class="chkbx" ng-model="newInvRw.inv_typ" ng-true-value="'CBW'" ng-false-value="null" data-ng-change="onCBWChange(newInvRw)"
                                />
                                <label for="checkbox_all"></label>
                            </td> -->
                             <td></td>
                            <td class="text-center" colspan="2">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="gotoAddItems('add')"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="text-center">
                    <wrap-dir-pagination></wrap-dir-pagination>
                </div>
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length" ng-click="setDeleteFlagOrDelete()">Delete</button>
                </div>
            </div>

        </div>
    </div>
</div>