<div data-ng-controller="gstr2asumryctrl">
	<div class="col-sm-6" style="padding-left: 20px;padding-top: 30px">
		<span class=" pull-left" style="width: 235px">
			Select Columns To Display/Hide:</span>
		<div class="form-group" ng-dropdown-multiselect events="multiSelectEvents" options="dropdownList"
			checkboxes="true" selected-model="selectedItems" extra-settings="myDropdownModelsettings">
			<toggle-dropdown>
				<span class="custom-control">{{selectedItems.length!=0?('+'+ selectedItems.length):''}}
					<label for="drop" style="font-weight: normal !important;"
						data-ng-show="selectedItems.length==0">Select</label>
					<span class="caret" id="drop"></span>
				</span>
			</toggle-dropdown>
		</div>

	</div>
	<div class="tabpane">
		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table tbl inv table-bordered">
						<thead>
							<tr>
								<th rowspan="2" class="gstTblHeadr ctnTblHdr reg m-cir sort"
									data-ng-bind="trans.LBL_RECEIVER_GSTIN" ng-click="sort('ctin')"></th>
								<th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort"
									data-ng-bind="trans.LBL_ONT_NUM" ng-click="sort('ont_num')"></th>
								<th rowspan="2" class="gstTblHeadr dtTblHdr reg m-cir sort"
									data-ng-bind="trans.LBL_ONT_DT" ng-click="sort('ont_dt')"></th>
								<th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort"
									data-ng-bind="trans.LBL_REV_NT_NUM" ng-click="sort('nt_num')"></th>
								<th rowspan="2" class="gstTblHeadr dtTblHdr reg m-cir sort"
									data-ng-bind="trans.LBL_REV_NT_DT" ng-click="sort('nt_dt')"></th>
								<th rowspan="2" class="gstTblHeadr m100TblHdr " data-ng-bind="trans.LBL_ORG_INV_NO"
									data-ng-show="trdcol" style="background-color: #FFCCCB;"></th>
								<th rowspan="2" class="gstTblHeadr dtTblHdr" data-ng-bind="trans.LBL_ORG_INV_DATE"
									data-ng-show="valcol" style="background-color: #FFCCCB;"></th>
								<th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_NT_TYP">
								</th>
								<th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_POS">
								</th>
								<th rowspan="2" class="gstTblHeadr" data-ng-bind="trans.LBL_RECHRG"></th>
								<th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir"
									data-ng-bind="trans.LBL_NT_SPLY_TY" style="min-width: 320px;"></th>
								<th class="gstTblHeadr psTblHdr reg m-cir" data-ng-bind="trans.LBL_NOT_VAL"></th>
								<!-- <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir"
									data-ng-bind="trans.LBL_RSN_NOTE"></th> -->
								<!-- <th class="gstTblHeadr">Pre GST</th> -->
								<th class="gstTblHeadr m100TblHdr">Applicable % of Tax Rate</th>
								<th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir"
									data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>
								<!--IFF_Static_Label_Changes-->
								<th data-ng-if="!iffprd" class="gstTblHeadr spTblHdr">GSTR-1/5 Filing Status</th>
								<th data-ng-if="!iffprd" class="gstTblHeadr spTblHdr">GSTR-1/5 Filing Date</th>
								<th data-ng-if="!iffprd" class="gstTblHeadr spTblHdr">GSTR-1/5 Filing Period</th>
								<th data-ng-if="iffprd" class="gstTblHeadr iffTblHdr">GSTR-1/IFF/GSTR-5 Filing Status</th>
								<th data-ng-if="iffprd" class="gstTblHeadr iffTblHdr">GSTR-1/IFF/GSTR-5 Filing Date</th>
								<th data-ng-if="iffprd" class="gstTblHeadr iffTblHdr">GSTR-1/IFF/GSTR-5 Filing Period</th>
								<th class="gstTblHeadr spTblHdr">GSTR-3B Filing Status</th>
								<th class="gstTblHeadr spTblHdr">Effective date of cancellation</th>
								<th class="gstTblHeadr spTblHdr">Amendment made, if any</th>
								<th class="gstTblHeadr spTblHdr">Original tax period in which reported </th>

								<th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_ACTIONS"></th>
							</tr>
						</thead>

						<tbody>
							<tr dir-paginate="y in ReturnsList | filter:searchInvNum | itemsPerPage: pageSize"
								total-items="totalAvailable" current-page="currentPage" ng-show="ReturnsList.length"
								ng-form="invFrm">

								<td
									data-ng-class="{'has-error':  (invFrm.ctin.$error.pattern || invFrm.ctin.$error.required)}">
									<input type="text" class="form-control formedit" name="ctin"
										data-ng-pattern="validations.formats.gstin" data-ng-model="y.ctin" ng-change="onCtinChange(y);"
										maxlength="15" ng-required="true" data-ng-disabled="true || !invFrm.edb" />
								</td>
								<td
									data-ng-class="{'has-error': (invFrm.ont_num.$error.pattern || invFrm.ont_num.$error.required)}">
									<input type="text" class="form-control formedit" name="ont_num"
										data-ng-model="y.ont_num" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
										maxlength="50" ng-required="true" data-ng-disabled="!invFrm.edb || true" />
								</td>
								<td
									data-ng-class="{'has-error': (invFrm.ont_dt.$error.required || invFrm.ont_dt.$error.pattern || invFrm.ont_dt.$invalid)}">
									<div class="datepicker-icon input-group">
										<div class="datepicker-icon input-group">
											<i class="fa fa-calendar"></i>
											<input name="ont_dt" class="form-control date-picker"
												data-ng-model="y.ont_dt" data-datepicker ng-required="true"
												data-min-years="{{minYearsAllowed}}" placeholder="DD-MM-YYYY"
												data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}"
												data-ng-model-options="{updateOn:'blur'}"
												data-ng-change="isLessThanInvDate(0,y,invFrm)"
												data-ng-disabled="!invFrm.edb || true"
												data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/" />
											<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
										</div>
									</div>
								</td>
								<td
									data-ng-class="{'has-error': (invFrm.nt_num.$error.pattern || invFrm.nt_num.$error.required)}">
									<input type="text" class="form-control formedit" name="nt_num"
										data-ng-model="y.nt_num" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
										maxlength="50" ng-required="true" data-ng-disabled="!invFrm.edb || true" />
								</td>

								<td
									data-ng-class="{'has-error': (invFrm.nt_dt.$error.required || invFrm.nt_dt.$error.pattern || invFrm.nt_dt.$invalid)}">
									<div class="datepicker-icon input-group">
										<div class="datepicker-icon input-group">
											<i class="fa fa-calendar"></i>
											<input name="nt_dt" class="form-control date-picker" data-ng-model="y.nt_dt"
												data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
												placeholder="DD-MM-YYYY" data-min-date="{{minDate()}}"
												data-max-date="{{datefunc()}}" data-ng-model-options="{updateOn:'blur'}"
												data-ng-change="isLessThanInvDate(0,y,invFrm)"
												data-ng-disabled="!invFrm.edb || true"
												data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/" />
											<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
										</div>
									</div>
								</td>

								<td data-ng-class="{'has-error': (invFrm.inum.$error.pattern)}"
									data-ng-show="trdcol" style="background-color: #D2D4D6;">
									<input type="text" class="form-control formedit" name="inum" data-ng-model="y.inum"
										data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/" maxlength="16" ng-required="true"
										data-ng-disabled="true" />
								</td>
								<td data-ng-class="{'has-error': (invFrm.idt.$error.pattern)}"
									data-ng-show="valcol" style="background-color: #D2D4D6;">
									<div class="datepicker-icon input-group">
										<div class="datepicker-icon input-group">
											<i class="fa fa-calendar"></i>
											<input name="idt" class="form-control date-picker" data-ng-model="y.idt"
												data-ng-model-options="{updateOn:'blur'}" data-datepicker
												placeholder="DD-MM-YYYY"
												data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
												data-datepicker ng-required="true"
												data-ng-change="isPreGST(0,y,invFrm);isLessThanInvDate(0,y,invFrm);"
												ng-required="true" data-min-years="{{minYearsAllowed}}"
												data-min-date="{{minInvDatePGst(y)}}"
												data-max-date="{{maxInvDatePGst(y)}}"
												data-ng-disabled="!invFrm.edb || true" />
											<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
										</div>
									</div>
								</td>
								<td>
									<select class="form-control" ng-model="y.ntty"
										data-ng-disabled="!invFrm.edb || true" required>
										<option value="">Select</option>
										<option data-ng-repeat="opt in noteList1" data-ng-bind="opt.name"
											value="{{opt.value}}"></option>
									</select>

								</td>
								<td>
									<select class="form-control"
										ng-options="opt.cd as opt.cd+'-'+opt.nm for opt in StateList" ng-model="y.pos"
										ng-change="onCtinChange(y);onPosChange(y)"
										data-ng-disabled="!invFrm.edb"></select>
								</td>
								<td class="text-center pRel">
									<input type="checkbox" class="chkbx" ng-model="y.rchrg" ng-true-value="'Y'"
										ng-false-value="'N'" data-ng-disabled="!invFrm.edb || true"
										ng-change="isrchrg(0,y,invFrm)" />
									<label for="checkbox_all"></label>
								</td>
								<td>
									<select class="form-control"
										ng-options="type.c as type.n for type in InvTypeList.b2b" ng-model="y.inv_typ"
										data-ng-disabled="!invFrm.edb || y.pos || true" data-ng-change="onCtinChange(y);onPosChange(y)"></select>
								</td>
								<td
									data-ng-class="{'has-error': (invFrm.val.$error.pattern || invFrm.val.$error.required)}">
									<input type="text" class="form-control formedit" name="val" data-ng-model="y.val"
										data-format="currency" data-fraction="2" ng-required="true"
										data-ng-disabled="!invFrm.edb" data-id="invval" />
								</td>
								<!-- <td>
									<select class="form-control"
										ng-options="opt.cd+'-'+opt.nm as opt.cd+'-'+opt.nm for opt in rsnList"
										ng-model="y.rsn" data-ng-disabled="!invFrm.edb || true"></select>

								</td> -->
								<!-- <td class="text-center pRel">
									<input type="checkbox" class="chkbx" ng-model="y.p_gst" ng-true-value="'Y'"
										ng-false-value="'N'" data-ng-disabled="!invFrm.edb || true"
										ng-change="isPreGST(0,y,invFrm)" />
									<label for="checkbox_all"></label>
								</td> -->

								<td class="text-center pRel" title="{{trans.LBL_Diff_Percent_title_text}}">
									<select class="form-control"
										ng-options="option.value as option.name for option in differentialPercent"
										id="diff_percent" data-ng-change="onDiffPerChange(y);"
										data-ng-model="y.diff_percent" data-ng-disabled="!invFrm.edb">
										<option value="">Select</option>
									</select>
								</td>
								<td>
									<select class="form-control"
										ng-options="option.name for option in suplyList track by option.name"
										ng-model="y.sp_typ" data-ng-disabled="!invFrm.edb || y.pos || true"></select>
								</td>
								<td>
									<input type="text" class="form-control formedit" name="cfs" data-ng-model="y.cfs"
										ng-required="true" data-ng-disabled="true" />
								</td>
								<td>
									<input type="text" class="form-control formedit" name="fldtr1"
										data-ng-model="y.fldtr1" ng-required="true" data-ng-disabled="true" />
								</td>
								<td>
									<input type="text" class="form-control formedit" name="flprdr1"
										data-ng-model="y.flprdr1" ng-required="true"
										data-ng-disabled="true" />
								</td>
								<td>
									<input type="text" class="form-control formedit" name="cfs3b"
										data-ng-model="y.cfs3b" ng-required="true" data-ng-disabled="true" />
								</td>
								<td>
									<input type="text" class="form-control formedit" name="dtcancel"
										data-ng-model="y.dtcancel" ng-required="true"
										data-ng-disabled="true" />
								</td>
								<td>
									<input type="text" class="form-control formedit" name="atyp" data-ng-model="y.atyp"
										ng-required="true" data-ng-disabled="true" />
								</td>
								<td>
									<input type="text" class="form-control formedit" name="aspd" data-ng-model="y.aspd"
										ng-required="true" data-ng-disabled="true" />
								</td>

								<td class="text-center newinv">
									<button type="button" class="btn btn-sm btn-primary" data-ng-click="gotoAddItems(y);clearOldInv(y,'cdnra')"
										tabindex="0"><i class="fa fa-plus-circle"
											aria-hidden="true"></i></button>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
				<div class="text-center">
					<wrap-dir-pagination></wrap-dir-pagination>
				</div>
			</div>
		</div>

	</div>
</div>