<div data-ng-controller="returnsctrl">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <!--<div class="row">
                    <div class="col-sm-12 pull-right">
                        <div class="pull-right mLeft5" wrap-csv-import callback="onpastedone"></div>
                        <button type="button" class="btn btn-primary mA0 pull-right" ctrl-paste-btn callback="onpastedone">Copy Excel </button>
                    </div>
                </div>
                <br>-->
                <div class="table-responsive">

                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-true-value="'Y'" ng-false-value="'N'" ng-click="checkAll(ReturnsList, selectAll)"
                                    />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th class="gstTblHeadr reg m-cir sort" data-ng-bind="trans.LBL_INVOICE_NUMBER" ng-click="sort('inum')"></th>
                                <th class="gstTblHeadr dtTblHdr reg m-cir sort" data-ng-bind="trans.LBL_INVOICE_DATE" ng-click="sort('idt')"></th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_INVOICE_VALUE" ng-click="sort('ival')"></th>
                                <!--<th class="gstTblHeadr reg m-cir">Port Code</th>-->
                                <th class="gstTblHeadr psTblHdr reg m-cir sort" data-ng-bind="trans.LBL_POS" ng-click="sort('pos')"></th>

                                <th class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_ACTIONS"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="y in ReturnsList | filter:searchInvNum | orderBy:sortBy:sortReverse | itemsPerPage: pageSize" current-page="currentPage"
                                ng-form="invFrm">
                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" ng-true-value="'Y'" ng-false-value="'N'" />
                                    <label for="checkbox_all"></label>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.inum.$error.pattern || invFrm.inum.$error.required)}">
                                    <input type="text" class="form-control formedit" name="inum" data-ng-model="y.inum" data-ng-pattern="validations.formats.inum"
                                        maxlength="16" ng-required="true" data-ng-disabled="true" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.idt.$error.pattern || invFrm.idt.$error.required || invFrm.idt.$invalid)}">

                                    <div class="datepicker-icon input-group">
                                        <i class="fa fa-calendar"></i>

                                        <input name="idt" class="form-control date-picker" data-ng-model="y.idt" data-ng-model-options="{updateOn:'blur'}" data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                            data-ng-change="dateLimit(0,y.idt,invFrm)" data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
                                            placeholder="DD-MM-YYYY" data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}"
                                            data-ng-disabled="!invFrm.edb" />

                                        <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                    </div>
                                </td>

                                <td data-ng-class="{'has-error': (invFrm.ival.$error.required)}">
                                    <input type="text" class="form-control text-right" name="ival" data-ng-model="y.ival" data-format="currency" ng-required="true" data-id="invval" data-fraction="2"
                                        data-ng-disabled="!invFrm.edb" />
                                </td>
                                <!--<td data-ng-class="{'has-error': (invFrm.port_code.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <input type="text" name="port_code" class="form-control" data-ng-model="y.port_code" ng-required="true"
                                            data-ng-disabled="!invFrm.edb" />
                                </td>-->

                                <td>
                                    <select class="form-control" ng-options="opt.cd as opt.cd+'-'+opt.nm for opt in StateList" ng-model="y.pos" data-ng-disabled="!invFrm.edb"
                                        ng-required="true"></select>
                                </td>

                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb" data-ng-click="gotoAddItems(y)" tabindex="0" data-ng-disabled="invFrm.$invalid"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb" data-ng-click="invFrm.edb = !invFrm.edb;updateInvoice(y)"
                                        tabindex="0" data-ng-disabled="invFrm.$invalid"><i class="fa fa-save" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb" data-ng-click="invFrm.edb = !invFrm.edb" tabindex="0"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tr ng-form="newInvFrm" ng-show="isLastPage(currentPage, pageSize)">
                            <td></td>

                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.inum.$error.pattern || newInvFrm.inum.$error.required),'has-success': newInvValidtr && newInvFrm.inum.$valid }">
                                <input type="text" class="form-control formedit" name="inum" data-ng-model="newInvRw.inum" data-ng-pattern="validations.formats.inum"
                                    maxlength="16" ng-required="true" ng-change="isExistingInv(1,newInvRw.inum)" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err" data-ng-show="newInvRw.inum && newInvFrm.inum.$invalid" data-ng-bind="trans.ERR_DUPLICATE_INV"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.idt.$error.pattern || newInvFrm.idt.$error.required || newInvFrm.idt.$invalid), 'has-success': newInvValidtr && newInvFrm.idt.$valid }">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>

                                    <input name="idt" class="form-control date-picker" data-ng-model="newInvRw.idt" data-ng-model-options="{updateOn:'blur'}"
                                        data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/" data-ng-change="dateLimit(1,newInvRw.idt)"
                                        data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}" placeholder="DD-MM-YYYY"
                                        data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}">


                                    <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                </div>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <!-- <span class="err" data-ng-if="invalid_date">{{invalidmsg}}</span> -->
                                <span class="err" data-ng-show="newInvRw.idt && newInvFrm.idt.$invalid">{{invdtmsg}}</span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.ival.$error.pattern || newInvFrm.ival.$error.required),'has-success': newInvValidtr && newInvFrm.ival.$valid }">
                                <input type="text" class="form-control text-right" name="ival" data-ng-model="newInvRw.ival" data-format="currency" data-id="invval" data-fraction="2"
                                    ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.ival.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                               <!-- <span class="err" data-ng-show="newInvValidtr && newInvFrm.ival.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>-->
                            </td>

                            <!--<td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.port_code.$error.required),'has-success': newInvValidtr && newInvFrm.port_code.$valid }">
                                <input type="text" class="form-control" name="port_code" data-ng-model="newInvRw.port_code" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.ival.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                              
                            </td>-->

                            <td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.pos),'has-success': newInvValidtr && newInvRw.pos }">

                                <select class="form-control" ng-model="newInvRw.pos" ng-required="true">
								<option value="">Select</option>
										<option data-ng-repeat="opt in StateList" data-ng-bind="opt.cd+'-'+opt.nm" value="{{opt.cd}}"></option>
								</select>

                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.pos" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <td class="text-center" colspan="2">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="gotoAddItems('add')"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="text-center">
                    <wrap-dir-pagination></wrap-dir-pagination>
                </div>
            </div>
        </div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-primary pull-left" ng-show="ReturnsList.length" data-ng-click="deleteSelectedRows()">Delete</button>
        </div>
    </div>
</div>