<div>
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="m0">Add Items</h4>
                <hr>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-3 col-xs-12">
                <label for="fin" class="reg">Section :
                    <span class="capz" ng-bind="dashBoardDt.tbl_cd"></span>
                </label>
            </div>
            <div class="col-sm-3 col-xs-12">
                <label for="fin" class="reg">Invoice No. :
                    <span class="capz" ng-bind="itmList.inum"></span>
                </label>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th data-ng-bind="trans.HEAD_RATE" class="gstTblHeadr reg m-cir"></th>
                                <th class="gstTblHeadr reg m-cir" data-ng-bind="trans.LBL_TAXABLE_VALUE"></th>
                                <th data-ng-bind="trans.HEAD_IGST_AMT" class="gstTblHeadr reg m-cir" ng-if="isWithOutPaymnt"></th>
                                <!--    <th data-ng-bind="trans.HEAD_SGST+' '+trans.HEAD_AMOUNT" class="gstTblHeadr reg m-cir" ng-if="isWithOutPaymnt"></th>
                                <th data-ng-bind="trans.HEAD_IGST+' '+trans.HEAD_AMOUNT" class="gstTblHeadr reg m-cir" ng-if="!isWithOutPaymnt"></th>-->
                                <th data-ng-bind="trans.HEAD_CESS_AMT" class="gstTblHeadr reg" ng-if="1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="y in RateList.CommGST" ng-form="newItmFrm" ng-init="clearValues()">
                                <td class="text-center">
                                    <label class="reg" data-ng-bind="y.value + '%'"></label>
                                </td>
                                <!--<td data-ng-class="{'has-error': (!y.ty)}">
                                    <select class="form-control" ng-options="opt.value as opt.name for opt in gsList" ng-model="y.ty"></select>
                                </td>-->
                                <!--
                                <td data-ng-class="{'has-error': (itmFrm.hsn_sc.$error.pattern || itmFrm.hsn_sc.$error.required)}">
                                    <input type="text" class="form-control text-center" name="hsn_sc" data-ng-model="y.hsn_sc" data-ng-pattern="/^[0-9]{2,}$/"
                                        maxlength="8" />
                                </td>
-->
                                <td data-ng-class="{'has-error':newItmFrm && (newItmFrm.txval.$error.required)}">
                                    <input type="text" class="form-control text-right" name="txval" data-fraction="2" ng-model="rateWiseData[$index].txval" data-id="invval"
                                        data-format="currency" required ng-change="RateCalExp(rateWiseData[$index])" onfocus="if (this.value=='₹0.00') this.value='';"
                                        onblur="if (this.value=='') this.value=0;" />
                                </td>
                                <!--                                <td data-ng-class="{'has-error':  newItmValidtr && (newItmFrm.txval.$error.required),'has-success': newItmValidtr && newItmFrm.txval.$valid }">-->
                                <!-- IGST -->
                                <td data-ng-class="{'has-error':newItmFrm && (newItmFrm.iamt.$error.pattern || newItmFrm.iamt.$error.required) && !isWithOutPaymnt(),'has-success': newItmValidtr && newItmFrm.iamt.$valid}">
                                    <input type="text" class="form-control text-right" name="iamt" ng-model="rateWiseData[$index].iamt" data-fraction="2" data-id="invval"
                                        data-format="currency" ng-required="true" onfocus="if (this.value=='₹0.00') this.value='';"
                                        onblur="if (this.value=='') this.value='₹0.00';" ng-disabled="isWithOutPaymnt()" />
                                </td>
                                <!-- SGST -->
                                <!--   <td ng-if="isWithOutPaymnt" data-ng-class="{'has-error':newItmFrm && (newItmFrm.samt.$error.pattern || newItmFrm.samt.$error.required),'has-success': newItmValidtr && newItmFrm.txval.$valid}">
                                    <input type="text" class="form-control text-right" name="samt" ng-model="rateWiseData[$index].samt"  data-fraction="2" data-format="currency" ng-required="true"  disabled onfocus="if (this.value=='₹0.00') this.value='';"/>
                                </td> 
                             
                                <td ng-if="isWithOutPaymnt" data-ng-class="{'has-error':newItmFrm && (newItmFrm.camt.$error.pattern || newItmFrm.camt.$error.required),'has-success': newItmValidtr && newItmFrm.txval.$valid}">
                                    <input type="text" class="form-control text-right" name="camt" ng-model="rateWiseData[$index].camt"  data-fraction="2" data-format="currency" ng-required="true"  disabled onfocus="if (this.value=='₹0.00') this.value='';"/>
                                </td>-->
                                <!-- CESS 
                                <td >
                                    <input type="text" class="form-control text-right" data-ng-class="{'has-error': (rateWiseData[$index].txval<=0 ) && rateWiseData[$index].csamt>0}" name="csamt" ng-model="rateWiseData[$index].csamt"  data-fraction="2" data-format="currency" ng-required="true" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value='₹0.00';"/>
                                </td>-->
                                <td>
                                    <input type="text" class="form-control text-right" data-ng-init="rateWiseData[$index].csamt=(itmList.inv_typ=='DE')?0:rateWiseData[$index].csamt"
                                        data-ng-class="{'has-error': (rateWiseData[$index].txval<=0 ) && rateWiseData[$index].csamt>0}"
                                        name="csamt" ng-model="rateWiseData[$index].csamt" data-fraction="2" data-format="currency"
                                        ng-required="true" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value='₹0.00';"
                                        data-ng-disabled=" isWithOutPaymnt() || (!rateWiseData[$index].txval && !rateWiseData[$index].csamt)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <p class="inv">
                <b>Note:</b> Under Rate column, combined rate (State GST + Central GST) or IGST needs to be written. System
                will calculate them on its own.</p>
        </div>
        <div class="btn-toolbar">
            <!--  <button type="button" class="btn btn-primary pull-left" ng-show="itmList.itms.length" ng-click="deleteSelectedItms()">Delete</button>-->
            <button type="button" class="btn btn-primary pull-right" ng-if="!isNewRec" ng-click="updateSavePayload('N')">Update</button>
            <button type="button" class="btn btn-primary pull-right" ng-if="isNewRec" ng-click="updateSavePayload('Y')">Save</button>
            <button type="button" class="btn btn-default pull-right" ng-click="page('/gstr/error/summary')">Back</button>

        </div>
    </div>
</div>