<div data-ng-controller="uploadgstr1ctrl">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <!--	<i class="fa fa-info-circle" aria-hidden="true"></i> <span>For E-COMMERCE type, Please add E-Commerce GSTIN</span>-->
                <div class="table-responsive">

                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="1" class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-true-value="'Y'" ng-false-value="'N'" ng-click="checkAll(TaxPayerSummaryList, selectAll)"
                                    />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th rowspan="1" class="gstTblHeadr spTblHdr reg m-cir">Type</th>
                                <th rowspan="1" class="gstTblHeadr psTblHdr reg m-cir sort" data-ng-bind="trans.LBL_REC_STATECD" ng-click="sort('state_cd')"></th>
                                <th rowspan="1" class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_TAXABLE_VALUE" ng-click="sort('txval')"></th>
                                <th rowspan="1" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>
                                <!-- <th colspan="1" class="gstTblHeadr">Sale from Bonded WH</th> -->
                                <th class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_RATE"></th>
                                <th colspan="1" class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_IGST"></th>
                                <th colspan="1" class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_CGST"></th>
                                <th colspan="1" class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_SGST"></th>
                                <th colspan="1" class="gstTblHeadr m100TblHdr reg" reg m-cir data-ng-bind="trans.HEAD_CESS"></th>
                                <!--                                <th rowspan="1" class="gstTblHeadr">Prov. Assmnt.</th>-->
                                <th class="gstTblHeadr m100TblHdr">Applicable % of Tax Rate</th>
                                <th rowspan="1" class="gstTblHeadr ctnTblHdr" data-ng-bind="trans.E_COMM_GSTN"></th>
                                <th class="gstTblHeadr">Status</th>
                                <th rowspan="1" class="gstTblHeadr">Actions</th>
                            </tr>

                        </thead>

                        <tbody>

                            <tr dir-paginate="y in TaxPayerSummaryList | itemsPerPage: pageSize" current-page="currentPage" total-items="totalAvailable"
                                ng-form="invFrm">

                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" ng-true-value="'Y'" ng-false-value="'N'" />
                                    <label for="checkbox_all"></label>
                                </td>

                                <td data-ng-class="{'has-error': (invFrm.type.$error.required)}">
                                    <select class="form-control" name="typ" ng-options="opt.value as opt.name for opt in typeList" ng-model="y.typ" data-ng-disabled="!invFrm.edb"
                                        ng-required="true"></select>
                                </td>

                                <td data-ng-class="{'has-error': (invFrm.pos=='')}">
                                    <select ng-required="true" class="form-control" ng-model="y.pos" ng-change="onPosChangeB2CS(y)" data-ng-disabled="!invFrm.edb || true">
                                        <option value="">Select</option>
										<option data-ng-repeat="opt in StateList" data-ng-bind="opt.cd+'-'+opt.nm" value="{{opt.cd}}"></option>
										
										</select>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.txval.$error.required)}">
                                    <input type="text" class="form-control text-right" name="txval" data-fraction="2" ng-model="y.txval" isNeg="true" ng-change="onRtChange(y, isIntraStateB2CS(y)?4:3)"
                                        onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value='₹0.00' " data-format="currency" ng-required="true" data-ng-disabled="!invFrm.edb" />
</td>
<td>
    <select class="form-control" name="sp_typ" ng-options="option.cd as option.name for option in suplyList" ng-model="y.sply_ty"
        disabled></select>
</td>
<!-- <td class="text-center pRel">
    <input type="checkbox" class="chkbx" ng-model="y.inv_typ" ng-true-value="'CBW'" ng-false-value="null" data-ng-disabled="!invFrm.edb" data-ng-change="onPosChangeB2CS(y)"
    />
    <label for="checkbox_all"></label>
    
</td> -->
<!--                                RATE-->
<td data-ng-class="{'has-error': (invFrm.rt.$error.required || invFrm.rt.$error.pattern)}">
    <select class="form-control" name="rt" ng-options="opt.value as opt.value for opt in RateList.CommGST" ng-model="y.rt" ng-change="onRtChange(y, isIntraStateB2CS(y)?4:3)"
        ng-required="true" data-ng-disabled="!invFrm.edb || true"></select>
</td>
<!--                                data-ng-class="{'has-error': (invFrm.iamt.$error.required)}"-->
<td>
    <input type="text" class="form-control text-right" name="iamt" ng-model="y.iamt" data-fraction="2" data-format="currency"
        isNeg="true" ng-required="true" data-ng-disabled="!invFrm.edb  ||((dashbrdGstn==y.pos) ) " onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value=0;" data-ng-init="(!y.iamt)?y.iamt=0:y.iamt">
</td>
<!--CGST-->
<td>
    <input type="text" class="form-control text-right" name="camt" ng-model="y.camt" data-ng-value="(!y.camt)?y.camt=0:y.camt"
        isNeg="true" data-fraction="2" data-format="currency" ng-required="true" data-ng-disabled="!invFrm.edb  ||((dashbrdGstn==y.pos))"
        onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value=0;">
</td>
<!--SGST-->
<td>
    <input type="text" class="form-control text-right" name="samt" ng-model="y.samt" data-ng-value="(!y.samt)?y.samt=0:y.samt"
        isNeg="true" data-fraction="2" data-format="currency" ng-required="true" data-ng-disabled="!invFrm.edb  || ((dashbrdGstn==y.pos))"
        onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value=0;" >
</td>

<!--CESS-->
<td>
    <input type="text" class="form-control text-right" name="csamt" ng-model="y.csamt" data-fraction="2" data-ng-value="{{(!y.csamt)?y.csamt=0:y.csamt}}"
        isNeg="true" data-format="currency" ng-required="true" data-ng-disabled="!invFrm.edb" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value=0;">
</td>
<!--<td data-ng-class="{'has-error':  (invFrm.etin.$error.pattern || (invFrm.etin.$invalid && y.etin) )}" data-ng-if="!isEcom(y.typ)">
                                    <input type="text" class="form-control formedit" name="etin" data-ng-model="y.etin" data-ng-pattern="validations.formats.etin" data-ng-change="isEtinAsSupRecGstin(0,y,invFrm)"
                                        data-ng-disabled="!invFrm.edb || childSelectIsDisabled"  />
                                </td>-->

<!-- <td class="text-center pRel" title="Is the supply eligible to be taxed at 65% of the existing rate of tax, as notified by the Government?">
    <select class="form-control"  ng-options="option.value as option.name for option in differentialPercent"  id="diff_percent" data-ng-change="onRtChange(y, isIntraStateB2CS(y)?4:3)"  data-ng-model="y.diff_percent" data-ng-disabled="!invFrm.edb">
        <option value="">Select</option>
    </select>
</td> -->
<td class="text-center pRel" title="{{trans.LBL_Diff_Percent_title_text}}">
    <select class="form-control" ng-options="option.value as option.name for option in differentialPercent" id="diff_percent"
        data-ng-change="onRtChange(y, isIntraStateB2CS(y)?4:3)" data-ng-model="y.diff_percent" data-ng-disabled="true">
        <option value="">Select</option>
    </select>
</td>

<td data-ng-class="{'has-error':  (invFrm.etin.$error.pattern || invFrm.etin.$error.required || (invFrm.etin.$invalid && y.etin))}">
    <input type="text" class="form-control formedit" name="etin" data-ng-model="y.etin" data-ng-required="!isEcom(0,y,invFrm)"
        data-ng-disabled="isEcom(0,y,invFrm) || !invFrm.edb || true" data-ng-pattern="validations.formats.etin" data-ng-change="isEtinAsSupRecGstin(0,y,invFrm)"
    />
</td>
<td class="text-center">
    <span class="text-center" ng-bind="y.flag"></span>
    <!--<div class="text-center" ng-if="y.flag=='A'">A</div>
    <div class="text-center" ng-if="y.flag=='R'">R</div>
    <div class="text-center" ng-if="y.flag=='M'">M</div>
    <div class="text-center" ng-if="y.flag=='N'">N</div>
    <div class="text-center" ng-if="y.flag=='P'">P</div>-->

</td>

<td class="text-center newinv">
    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb" data-ng-click="invFrm.edb = !invFrm.edb" tabindex="0"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-sm btn-primary" data-ng-if="invFrm.edb" data-ng-click="invFrm.edb = !invFrm.edb;updateInvoice(y);onSetDiffPer(y);"
        ng-disabled="!invFrm.$valid || invFrm.$pristine" tabindex="0"><i class="fa fa-save" aria-hidden="true"></i></button>
    <!--<button type="button" class="btn btn-sm btn-danger" ng-hide="invFrm.edb || !y.flag" data-ng-click="setDeleteFlag(y)" tabindex="0"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
    <!-- data-ng-disabled="invFrm.$invalid"-->
</td>
</tr>
</tbody>
<!--ng-show="isLastPage(currentPage, pageSize)"-->
<tr ng-form="newInvFrm" ng-show="isLastPage(currentPage, pageSize)">
    <td></td>
    <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.typ.$error.pattern || newInvFrm.typ.$error.required),'has-success': newInvValidtr && newInvFrm.typ.$valid }">
        <select class="form-control" name="typ" ng-options="opt.value as opt.name for opt in typeList" ng-model="newInvRw.typ" ng-required="true"></select>
        <span class="err" data-ng-show="newInvValidtr && newInvFrm.typ.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
        <span class="err" data-ng-show="newInvValidtr && newInvFrm.typ.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
    </td>


    <td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.pos),'has-success': newInvValidtr && newInvRw.pos }">
        <select class="form-control" name="state_cd" ng-model="newInvRw.pos" ng-change="onPosChangeB2CS(newInvRw)" required>
										<option value="">Select</option>
										<option data-ng-repeat="opt in StateList" data-ng-bind="opt.cd+'-'+opt.nm" value="{{opt.cd}}"></option>
								</select>
        <span class="err" data-ng-show="newInvValidtr && !newInvRw.pos" data-ng-bind="trans.ERR_MANDATORY"></span>
    </td>
    <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.txval.$error.required),'has-success': newInvValidtr && newInvFrm.txval.$valid }">
        <input type="text" isneg=true class="form-control text-right" name="txval" data-fraction="2" placeholder="" ng-model="newInvRw.txval"
            isNeg="true" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value=0;" data-format="currency" data-ng-required="true" data-ng-change="onRtChange(newInvRw, isIntraStateB2CS(newInvRw)?4:3)"/>
<span class="err" data-ng-show="newInvValidtr && newInvFrm.txval.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
<!--<span class="err" data-ng-show="newInvValidtr && newInvFrm.txval.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>-->
</td>

<td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.sply_ty.name),'has-success': newInvValidtr && newInvRw.sply_ty.name }">

    <select name="sply_ty" class="form-control" id="stype" ng-options="option.cd as option.name for option in suplyList" ng-model="newInvRw.sply_ty"
        data-ng-disabled="true"></select>
    <span class="err" data-ng-show="newInvValidtr && !newInvRw.sply_ty.name" data-ng-bind="trans.ERR_MANDATORY"></span>
</td>
<!-- <td class="text-center pRel">
    <input type="checkbox" class="chkbx" ng-model="newInvRw.inv_typ" ng-true-value="'CBW'" ng-false-value="null" data-ng-change="onPosChangeB2CS(newInvRw)"
    />
    <label for="checkbox_all"></label>
</td> -->
<!--                            RATE-->
<td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.rt.$error.pattern || newInvFrm.rt.$error.required),'has-success': newInvValidtr && newInvFrm.rt.$valid }">
    <select class="form-control" name="rt" ng-options="opt.value as opt.value for opt in RateList.CommGST" ng-model="newInvRw.rt"
        ng-change="onRtChange(newInvRw, isIntraStateB2CS(newInvRw)?4:3)" ng-required="true"></select>
</td>
<!-- IGST -->
<!--                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.iamt.$error.pattern || newInvFrm.iamt.$error.required),'has-success': newInvValidtr && newInvFrm.iamt.$valid }">-->
<td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.iamt.$error.pattern || newInvFrm.iamt.$error.required),'has-success': newInvValidtr && newInvFrm.iamt.$valid }">
    <input type="text" class="form-control text-right" name="iamt" ng-model="newInvRw.iamt" isNeg="true" ng-required="true" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value=0;" data-format="currency" data-fraction="2" data-ng-disabled="(isIntraStateB2CS(newInvRw))" />
<span class="err" data-ng-show="newInvValidtr && newInvFrm.iamt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
<span class="err" data-ng-show="newInvValidtr && newInvFrm.iamt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
</td>
<!-- CGST -->
<td>
    <input type="text" class="form-control text-right" name="camt" isNeg="true" ng-model="newInvRw.camt" ng-required="true" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value=0;" data-format="currency" data-fraction="2" data-ng-disabled="(!isIntraStateB2CS(newInvRw) )" />
<!--
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.camt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.camt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
-->
</td>
<!-- SGST -->
<td>
    <input type="text" class="form-control text-right" name="samt" isNeg="true" ng-model="newInvRw.samt" ng-required="true" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value=0;" data-format="currency" data-fraction="2" data-ng-disabled="(!isIntraStateB2CS(newInvRw))" />
<!--
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.samt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.samt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
-->
</td>

<!-- CESS -->
<td>
    <input type="text" class="form-control text-right" name="csamt" ng-model="newInvRw.csamt" isNeg="true" ng-required="true"
        data-format="currency" data-fraction="2" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value=0;"/>
<!--
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.csamt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.csamt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
-->
</td>
<!--<td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.etin.$error.pattern),'has-success': newInvValidtr && newInvFrm.etin.$valid && newInvRw.etin}"
    data-ng-if="!isEcom(newInvRw.typ)">
    <input type="text" class="form-control formedit" name="etin" data-ng-pattern="validations.formats.etin" data-ng-model="newInvRw.etin"
        data-ng-change="isEtinAsSupRecGstin(1,newInvRw)" data-ng-disabled="childSelectIsDisabled" />
    <span class="err" data-ng-show="newInvValidtr && newInvFrm.etin.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
    <span class="err" data-ng-show="newInvValidtr && newInvRw.etin && newInvFrm.etin.$invalid" data-ng-bind="trans.ERR_INV_ETIN"></span>
</td>-->
<td class="text-center pRel" title="{{trans.LBL_Diff_Percent_title_text}}">
    <select class="form-control" ng-options="option.value as option.name for option in differentialPercent" data-ng-change="onRtChange(newInvRw, isIntraStateB2CS(newInvRw)?4:3)"
        id="diff_percent" data-ng-model="newInvRw.diff_percent">
        <option value="">Select</option>
    </select>
</td>
<td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.etin.$error.pattern || newInvFrm.etin.$error.required),'has-success': newInvValidtr && newInvFrm.etin.$valid && newInvRw.etin }">
    <input type="text" class="form-control formedit capitalize" name="etin" data-ng-pattern="validations.formats.etin" data-ng-model="newInvRw.etin"
        data-ng-change="isEtinAsSupRecGstin(1,newInvRw)" data-ng-required="!isEcom(1,newInvRw)" data-ng-disabled="isEcom(1,newInvRw) || true"
    />
    <span class="err" data-ng-show="newInvValidtr && newInvFrm.etin.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
    <span class="err" data-ng-show="newInvValidtr && newInvFrm.etin.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
    <span class="err" data-ng-show="newInvValidtr && newInvRw.etin && newInvFrm.etin.$invalid" data-ng-bind="trans.ERR_INV_ETIN"></span>
</td>
<td></td>
<td class="text-center">
    <button type="button" class="btn btn-sm btn-primary" ng-click="savePayload()"><i class="fa fa-save" aria-hidden="true"></i></button>
</td>
</tr>



</table>
</div>
<div class="text-center">

    <wrap-dir-pagination></wrap-dir-pagination>

</div>
</div>
</div>
<div class="btn-toolbar">

    <!--<button type="button" class="btn btn-primary pull-left" ng-show="SummaryList.length" ng-disabled="!isAllActionTaken()" ng-click="updateSelectedRows('A')">Accept</button>-->
    <!--<button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length" ng-disabled="false" ng-click="updateSelectedRows('A')">Accept</button>
    <button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length" ng-disabled="false" ng-click="updateSelectedRows('R')">Reject</button>-->
    <button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length" ng-click="setDeleteFlagOrDelete()">Delete</button>

</div>
</div>
</div>