<div data-ng-controller="uploadgstr1ctrl" data-ng-init="stcodedisable()">
    <div class="col-sm-6" style="padding-left: 20px;padding-top: 30px">
        <span class=" pull-left" style="width: 235px">
            Select Columns To Display/Hide:</span>
        <!-- <div class="col-sm-3"> -->
        <div class="form-group" ng-dropdown-multiselect events="multiSelectEvents" options="dropdownList"
            checkboxes="true" selected-model="selectedItems" extra-settings="myDropdownModelsettings">
            <toggle-dropdown>
                <span class="custom-control">{{selectedItems.length!=0?('+'+ selectedItems.length):''}}
                    <label for="drop" style="font-weight: normal !important;"
                        data-ng-show="selectedItems.length==0">Select</label>
                    <span class="caret" id="drop"></span>
                </span>
            </toggle-dropdown>
        </div>
        <!-- </div> -->

    </div>
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-true-value="'Y'"
                                        ng-false-value="'N'" ng-click="checkAll(TaxPayerSummaryList, selectAll)" />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_UR_TYPE">
                                </th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_DEBIT_CREDIT_NOTE_NO" ng-click="sort('nt_num')"></th>
                                <th rowspan="2" class="gstTblHeadr dtTblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_DEBIT_CREDIT_NOTE_DATE" ng-click="sort('nt_dt')"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_INVOICE_NUMBER"
                                    data-ng-show="trdcol" ng-click="sort('inum')" style="background-color: #FFCCCB;">
                                </th>
                                <th rowspan="2" class="gstTblHeadr dtTblHdr" data-ng-bind="trans.LBL_INVOICE_DATE"
                                    data-ng-show="valcol" ng-click="sort('idt')" style="background-color: #FFCCCB;">
                                </th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir"
                                    data-ng-bind="trans.LBL_NOTE_TYP"></th>
                                <!-- <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_RSN_NOTE"></th> -->
                                <th class="gstTblHeadr psTblHdr reg m-cir sort" data-ng-bind="trans.LBL_POS"
                                    ng-click="sort('pos')"></th>
                                <th class="gstTblHeadr psTblHdr reg m-cir" data-ng-bind="trans.LBL_NOT_VAL"></th>
                                <th class="gstTblHeadr m100TblHdr">Applicable % of Tax Rate</th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir"
                                    data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>
                                <!-- <th class="gstTblHeadr">Pre GST</th> -->
                                <th ng-click="sort('srctyp')" class="gstTblHeadr dtTblHdr sort">Source</th>
                                <th class="gstTblHeadr dtTblHdr sort" style="min-width: 700px;" ng-click="sort('irn')">IRN</th>
                                <th class="gstTblHeadr dtTblHdr sort" ng-click="sort('irngendate')">IRN Date</th>
                                <th class="gstTblHeadr">Status</th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_ACTIONS"></th>
                            </tr>

                        </thead>

                        <tbody>
                            <tr dir-paginate="y in TaxPayerSummaryList | itemsPerPage: pageSize"
                                current-page="currentPage" total-items="totalAvailable" ng-form="invFrm"
                                ng-init="y.old_ntnum=y.nt_num">
                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" ng-true-value="'Y'"
                                        ng-false-value="'N'" />
                                    <label for="checkbox_all"></label>
                                </td>

                                <td>

                                    <select class="form-control" name="typ"
                                        ng-options="opt.value as opt.name for opt in URList" ng-model="y.typ"
                                        data-ng-disabled="!invFrm.edb" ng-required="true"></select>

                                </td>

                                <td
                                    data-ng-class="{'has-error': (invFrm.nt_num.$error.pattern || invFrm.nt_num.$error.required)}">
                                    <input type="text" class="form-control formedit" name="nt_num"
                                        data-ng-model="y.nt_num" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
                                        maxlength="16" ng-required="true" data-ng-disabled="!invFrm.edb || true" />
                                    <input type="hidden" name="ntnum_old" data-ng-model="y.old_ntnum" />
                                </td>
                                <td
                                    data-ng-class="{'has-error': (invFrm.nt_dt.$error.required || invFrm.nt_dt.$error.pattern || invFrm.nt_dt.$invalid)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="nt_dt" class="form-control date-picker" data-ng-model="y.nt_dt"
                                                data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
                                                placeholder="DD-MM-YYYY" data-min-date="{{minDate()}}"
                                                data-max-date="{{datefunc()}}" data-ng-model-options="{updateOn:'blur'}"
                                                data-ng-change="isLessThanInvDate(0,y,invFrm)"
                                                data-ng-disabled="!invFrm.edb"
                                                data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.inum.$error.pattern)}" data-ng-show="trdcol"
                                    style="background-color: #D2D4D6;">
                                    <input type="text" class="form-control formedit" name="inum" data-ng-model="y.inum"
                                        data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/" maxlength="16" ng-required="false"
                                        data-ng-disabled="true" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.idt.$error.pattern)}" data-ng-show="valcol"
                                    style="background-color: #D2D4D6;">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="idt" class="form-control date-picker" data-ng-model="y.idt"
                                                data-ng-model-options="{updateOn:'blur'}" data-datepicker
                                                placeholder="DD-MM-YYYY"
                                                data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                                data-datepicker ng-required="false"
                                                data-ng-change="dateLimit(0,y.idt,invFrm);isLessThanInvDate(0,y,invFrm)"
                                                ng-required="true" data-min-years="{{minYearsAllowed}}"
                                                data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}"
                                                data-ng-disabled="true" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="opt.value as opt.name for opt in noteList1"
                                        ng-model="y.ntty" data-ng-disabled="!invFrm.edb" ng-required="true"></select>
                                </td>
                                <!-- <td>

                                    <select class="form-control" ng-options="opt.cd+'-'+opt.nm as opt.cd+'-'+opt.nm for opt in rsnList" ng-model="y.rsn" data-ng-disabled="!invFrm.edb"></select>
                                </td>  -->

                                <td data-ng-class="{'has-error':(invFrm.pos.$invalid)}">
                                    <select class="form-control" name="pos"
                                        ng-options="opt.cd as opt.cd+'-'+opt.nm disable when opt.disabled for opt in StateList"
                                        ng-model="y.pos" data-ng-disabled="isTypeExp(y) || !invFrm.edb"
                                        data-ng-required="!isTypeExp(y)">
                                        <option value="">Select</option>
                                    </select>
                                    <span class="err" data-ng-show="isEmptyPOS && !y.pos && rowIndex == $index"
                                        data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <td
                                    data-ng-class="{'has-error': (invFrm.val.$error.pattern || invFrm.val.$error.required)}">
                                    <input type="text" class="form-control formedit" name="val" data-ng-model="y.val"
                                        data-format="currency" data-fraction="2" data-id="invval" ng-required="true"
                                        data-ng-disabled="!invFrm.edb" />
                                </td>

                                <td class="text-center pRel" title="{{trans.LBL_Diff_Percent_title_text}}">
                                    <select class="form-control"
                                        ng-options="option.value as option.name for option in differentialPercent"
                                        id="diff_percent" data-ng-change="onDiffPerChange(y);"
                                        data-ng-model="y.diff_percent" data-ng-disabled="isTypeExp(y) || !invFrm.edb">
                                        <option value="">Select</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control"
                                        ng-options="option.name for option in suplyList track by option.name"
                                        ng-model="y.sp_typ" data-ng-disabled="true"></select>
                                </td>
                                <!-- <td class="text-center pRel">
                                    <input type="checkbox" class="chkbx" ng-model="y.p_gst" ng-true-value="'Y'" ng-false-value="'N'" data-ng-disabled="!invFrm.edb"
                                    />
                                    <label for="checkbox_all"></label>
                                </td> -->
                                <td>
                                    <input type="text" class="form-control formedit" name="srctyp"
                                        data-ng-model="y.srctyp" data-ng-disabled="true" />


                                </td>
                                <td class="text-center">

                                        <!-- <div class="text-center" data-toggle="tooltip" title="{{y.irn}}" >
                                                <input type="text" class="form-control formedit" name="irn"
                                                data-ng-model="y.irn.substring(60)" data-ng-disabled="true"
                                                style="text-align:center;" />
                                            </div> -->
                                           
                                                <input type="text" class="form-control formedit" name="irn"
                                                data-ng-model="y.irn" data-ng-disabled="true"
                                                style="text-align:center;" />
                                          

                                </td>

                                <td>
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="irngendate" class="form-control date-picker"
                                                data-ng-model="y.irngendate" data-datepicker
                                                data-ng-model-options="{updateOn:'blur'}" placeholder="DD-MM-YYYY"
                                                data-ng-disabled="true" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span class="text-center" ng-bind="y.flag"
                                        ng-style="{ 'color' : (y.flag=='D'? '#ff0000' : '#000000')}"></span>
                                    <!--<div class="text-center" ng-if="y.flag=='A'">A</div>
                                    <div class="text-center" ng-if="y.flag=='R'">R</div>
                                    <div class="text-center" ng-if="y.flag=='M'">M</div>
                                    <div class="text-center" ng-if="y.flag=='N'">N</div>
                                    <div class="text-center" ng-if="y.flag=='P'">P</div>-->

                                </td>

                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb"
                                        data-ng-click="gotoAddItems(y)" tabindex="0"
                                        data-ng-disabled="invFrm.$invalid"><i class="fa fa-plus-circle"
                                            aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary"
                                        ng-if="((y.srctyp != '' && y.srctyp != undefined) || (y.irngendate != '' && y.irngendate != undefined) || (y.irn != '' && y.irn != undefined)) && invFrm.edb"
                                        data-msg="System has auto-populated the details from e-invoices reported to IRP. Any changes made in GSTR-1 will
                                    be marked as discrepancy. Do you want to Proceed?"
                                        data-conf-click="invFrm.edb=!invFrm.edb;updateInvoice(y);onSetDiffPer(y);"
                                        tabindex="0" data-ng-disabled="invFrm.$invalid || invFrm.$pristine"><i
                                            class="fa fa-save" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary"
                                        ng-if="((y.srctyp == '' || y.srctyp == undefined) && (y.irngendate == '' || y.irngendate == undefined) && (y.irn == '' || y.irn == undefined) ) && invFrm.edb"
                                        data-ng-click="invFrm.edb=!invFrm.edb;updateInvoice(y);onSetDiffPer(y);"
                                        tabindex="0" data-ng-disabled="invFrm.$invalid || invFrm.$pristine"><i
                                            class="fa fa-save" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb"
                                        data-ng-click="invFrm.edb = !invFrm.edb;clearOldInv(y,'cdnur');fnValidateReqrd(invFrm,y,$index)"
                                        tabindex="0"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <!--<button type="button" class="btn btn-sm btn-danger" ng-hide="invFrm.edb || !y.flag" data-ng-click="setDeleteFlag(y)" tabindex="0"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
                                </td>
                            </tr>
                        </tbody>
                        <tr ng-form="newInvFrm" ng-show="isLastPage(currentPage, pageSize)">
                            <td></td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.typ),'has-success': newInvValidtr && newInvRw.typ }">


                                <select class="form-control" name="typ" ng-model="newInvRw.typ" ng-required="true"
                                    ng-change="onURlistchange(newInvRw.typ)">
                                    <option value="">Select</option>
                                    <option data-ng-repeat="opt in URList" data-ng-bind="opt.name"
                                        value="{{opt.value}}"></option>
                                </select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.typ"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>

                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.nt_num.$error.pattern || newInvFrm.nt_num.$error.required || newInvFrm.nt_num.$invalid),'has-success': newInvValidtr && newInvFrm.nt_num.$valid }">
                                <input type="text" class="form-control formedit" name="nt_num"
                                    data-ng-model="newInvRw.nt_num" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
                                    maxlength="16"  data-ng-change="isDuplicateInvoice(1,newInvRw,'nt_num')" maxlength="50"
                                    ng-required="true" />
                                    <!-- ng-change="isExistingNote(1,newInvRw.nt_num)" ng-required="true" /> -->
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_num.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_num.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                    <span class="err"
                                    data-ng-show="newInvRw.nt_num && isInvalidNumber && newInvFrm.nt_num.$invalid"
                                    data-ng-bind="trans.ERR_INVALID_NOTE"></span>
                                <span class="err" data-ng-show="newInvRw.nt_num && isDuplicateNumber && newInvFrm.nt_num.$invalid" data-ng-bind="trans.ERR_DUPLICATE_NOTE"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.nt_dt.$error.pattern || newInvFrm.nt_dt.$error.required  || newInvFrm.nt_dt.$invalid),'has-success': newInvValidtr && newInvFrm.nt_dt.$valid }">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>
                                    <input name="nt_dt" class="form-control date-picker" data-ng-model="newInvRw.nt_dt"
                                        data-datepicker
                                        data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                        ng-required="true" data-ng-model-options="{updateOn:'blur'}"
                                        data-ng-change="isLessThanInvDate(1,newInvRw)"
                                        data-min-years="{{minYearsAllowed}}" placeholder="DD-MM-YYYY"
                                        data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_dt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err"
                                    data-ng-show="newInvValidtr && (newInvRw.nt_dt) && (newInvFrm.nt_dt.$invalid)">{{errMsg}}</span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_dt.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.inum.$error.pattern)}"
                                data-ng-show="trdcol" style="background-color: #D2D4D6;">
                                <input type="text" class="form-control formedit" name="inum"
                                    data-ng-model="newInvRw.inum" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
                                    data-ng-model-options="{updateOn:'blur'}" maxlength="16" ng-required="false"
                                    data-ng-disabled="true" data-ng-change="isDuplicateInvoice(1,newInvRw,'inum')" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.inum && isInvalidNumber && newInvFrm.inum.$invalid"
                                    data-ng-bind="trans.ERR_INVALID_INV"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.inum && isDuplicateNumber && newInvFrm.inum.$invalid"
                                    data-ng-bind="trans.ERR_DUPLICATE_INV"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.idt.$error.pattern)}"
                                data-ng-show="valcol" style="background-color: #D2D4D6;">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>
                                    <input name="idt" class="form-control date-picker" data-ng-model="newInvRw.idt"
                                        data-ng-model-options="{updateOn:'blur'}"
                                        data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                        data-ng-change="dateLimit(1,newInvRw.idt);isLessThanInvDate(1,newInvRw)"
                                        data-datepicker ng-required="false" data-ng-disabled="true"
                                        data-min-years="{{minYearsAllowed}}" placeholder="DD-MM-YYYY"
                                        data-min-date="{{(!y.dt)?y.dt:minDate()}}" data-max-date="{{datefunc()}}">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.idt && newInvFrm.idt.$invalid">{{invdtmsg}}</span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.ntty),'has-success': newInvValidtr && newInvRw.ntty }">


                                <select class="form-control" name="ntty" ng-model="newInvRw.ntty">
                                    <option value="">Select</option>
                                    <option data-ng-repeat="opt in noteList1" data-ng-bind="opt.name"
                                        value="{{opt.value}}"></option>
                                </select>

                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.ntty"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.pos.$error.required),'has-success': newInvValidtr && newInvRw.pos }">

                                <select class="form-control" name="pos" ng-model="newInvRw.pos"
                                    data-ng-disabled="isTypeExp(newInvRw)" data-ng-required="!isTypeExp(newInvRw)">
                                    <option value="">Select</option>
                                    <option data-ng-repeat="opt in StateList" data-ng-bind="opt.cd+'-'+opt.nm"
                                        value="{{opt.cd}}" data-ng-disabled="opt.disabled"></option>
                                </select>

                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.pos.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error': (invFrm.val.$error.pattern || invFrm.val.$error.required)}">
                                <input type="text" class="form-control formedit" name="val" data-ng-model="newInvRw.val"
                                    data-format="currency" data-fraction="2" data-id="invval" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>

                            <td class="text-center pRel" title="{{trans.LBL_Diff_Percent_title_text}}">
                                <select class="form-control" ng-options="opt.name for opt in differentialPercent"
                                    data-ng-change="onDiffPerChange(newInvRw);" id="diff_percent"
                                    data-ng-model="newInvRw.diff_percent" data-ng-disabled="isTypeExp(newInvRw)">
                                    <option value="">Select</option>
                                </select>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.sp_typ.name),'has-success': newInvValidtr && newInvRw.sp_typ.name }">
                                <select name="sp_typ" class="form-control" id="stype"
                                    ng-options="option.name for option in suplyList track by option.name"
                                    ng-model="newInvRw.sp_typ" disabled></select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.sp_typ.name"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <!-- <td class="text-center pRel">
                                <input type="checkbox" class="chkbx" ng-model="newInvRw.p_gst" ng-true-value="'Y'" ng-false-value="'N'" />
                                <label for="checkbox_all"></label>
                            </td> -->
                            <!-- <td class="text-center" colspan="2">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="flag=!flag;savePayload()"><i class="fa fa-save" aria-hidden="true"></i></button>
                            </td>-->
                            <td>
                                <input type="text" class="form-control formedit" name="srctyp"
                                    data-ng-model="newInvRw.srctyp" data-ng-disabled="true" />


                            </td>
                            <td>

                               
                                            <input type="text" class="form-control formedit" name="irn"
                                            data-ng-model="newInvRw.irn" data-ng-disabled="true"
                                            style="text-align:center;" />
                             
                            </td>
                            <td>
                                <div class="datepicker-icon input-group">
                                    <div class="datepicker-icon input-group">
                                        <i class="fa fa-calendar"></i>
                                        <input name="irngendate" class="form-control date-picker" data-ng-model="newInvRw.irngendate" data-datepicker
                                            data-ng-model-options="{updateOn:'blur'}" placeholder="DD-MM-YYYY" data-ng-disabled="true" />
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>


                            </td>
                            <td></td>
                            <td class="text-center" colspan="2">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="gotoAddItems('add')"><i
                                        class="fa fa-plus-circle" aria-hidden="true"></i></button>
                            </td>

                        </tr>

                    </table>
                </div>
                <div class="text-center">
                    <wrap-dir-pagination></wrap-dir-pagination>
                </div>
            </div>
        </div>
        <div class="btn-toolbar">
            <!--<button type="button" class="btn btn-primary pull-left" ng-show="SummaryList.length" ng-disabled="!isAllActionTaken()" ng-click="updateSelectedRows('A')">Accept</button>-->
            <!--<button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length" ng-disabled="false" ng-click="updateSelectedRows('A')">Accept</button>
            <button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length" ng-disabled="false" ng-click="updateSelectedRows('R')">Reject</button>-->
            <button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length"
                ng-disabled="false" ng-click="presetDeleteFlagOrDelete()">Delete</button> </div>
    </div>
</div>
<!-- <style>
        .tooltip-inner {
          max-width: 100% !important;
      }
      </style> -->