<div data-ng-controller="returnsctrl" data-ng-init="validateUserMstrRtnPrd();getSupplierDetails();">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">

                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="1" class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="checked.selectall" ng-true-value="'Y'"
                                        ng-false-value="'N'" ng-click="checkAllNew(ReturnsList, checked.selectall)" />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th rowspan="1" class="gstTblHeadr ctnTblHdr reg m-cir sort" ng-click="sort('stin')"
                                    data-ng-bind="trans.LBL_SUP_GSTN_UIN"></th>
                                <th rowspan="1" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_SUP_NAME"></th>
                                <th rowspan="1" class="gstTblHeadr psTblHdr reg m-cir" data-ng-bind="trans.LBL_POS_R1">
                                </th>
                                <th rowspan="1" class="gstTblHeadr m100TblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_TAXABLE_VALUE" ng-click="sort('txval')"></th>
                                <th rowspan="1" class="gstTblHeadr spTblHdr reg m-cir"
                                    data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_RATE"></th>
                                <th colspan="1" class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_IGST">
                                </th>
                                <th colspan="1" class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_CGST">
                                </th>
                                <th colspan="1" class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_SGST">
                                </th>
                                <th colspan="1" class="gstTblHeadr m100TblHdr reg" reg m-cir
                                    data-ng-bind="trans.HEAD_CESS"></th>
                                <th rowspan="1" class="gstTblHeadr psTblHdr" data-ng-bind="trans.LBL_ACT_R1"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr dir-paginate="y in ReturnsList | itemsPerPage: pageSize track by $index"
                                current-page="currentPage" total-items="totalAvailable" ng-form="invFrm"
                                ng-init="oldInv=y">
                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" ng-true-value="'Y'"
                                        ng-false-value="'N'" data-ng-click="value(y.select, ReturnsList)"/>
                                    <label for="checkbox_all"></label>
                                </td>
                                <td data-ng-class="{'has-error':  (invFrm.stin.$error.required)}">
                                    <input type="text" style="margin-top: 3%;margin-left: 0%; width:260px;"
                                        class="form-control formedit" name="stin"
                                        data-ng-model-options="{updateOn:'blur'}" data-ng-model="y.stin"
                                        data-ng-class="savedList.obj" ng-required="true"
                                        ng-change="onCtinChange(savedList);" data-ng-disabled="true || !invFrm.edb" />
                                </td>
                                <td data-ng-class="{'has-error':  (invFrm.sname.$error.pattern)}">
                                    <input type="text" class="form-control formedit" name="sname"
                                        data-ng-model="y.cname"
                                        data-ng-pattern="/^[a-zA-Z0-9\_&'\-\.\/\,()?@!#%$~*;+= ]{1,99}$/"
                                        ng-required="false" data-ng-disabled="true || !invFrm.edb" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.pos=='')}">
                                    <select ng-required="true" class="form-control" ng-model="y.pos"
                                        ng-change="onPosChangeTB15B2CS(y)" data-ng-disabled="!invFrm.edb || true">
                                        <option value="">Select</option>
                                        <option data-ng-repeat="opt in StateList" data-ng-bind="opt.cd+'-'+opt.nm"
                                            value="{{opt.cd}}"></option>
                                    </select>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.txval.$error.required)}">
                                    <input type="text" class="form-control text-right" name="txval" isNeg="true"
                                        data-fraction="2" ng-model="y.txval"
                                        ng-change="onRtChangeTB15(y,isIntraStateB2CS(y)?4:3);setPristine(y,invFrm,oldInv)"
                                        id="val" data-formatting="currency"
                                        ng-required="true" data-ng-disabled="!invFrm.edb" />
                                        <span class="err" data-ng-show="invFrm.txval.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <td>
                                    <select name="sply_ty" class="form-control" id="stype"
                                        ng-options="option.cd as option.name for option in suplyList"
                                        ng-model="y.sply_ty" disabled></select>
                                </td>
                                <!--RATE-->
                                <td
                                    data-ng-class="{'has-error': (invFrm.rt.$error.required || invFrm.rt.$error.pattern)}">
                                    <select class="form-control" name="rt"
                                        ng-options="opt.value as opt.value for opt in RateList.CommGST" ng-model="y.rt"
                                        ng-change="onRtChangeTB15(y, isIntraStateB2CS(y)?4:3)" ng-required="true"
                                        data-ng-disabled="!invFrm.edb || true"></select>
                                </td>
                                <td data-ng-class="{'has-error': invFrm.iamt.$error.required}">
                                    <input type="text" class="form-control text-right" name="iamt" ng-model="y.iamt"
                                         isNeg="true" data-fraction="2"
                                       id="val" data-formatting="currency" ng-required="dashbrdGstn != y.pos"
                                        data-ng-disabled="!invFrm.edb  || (dashbrdGstn == y.pos)"
                                        ng-change="setPristine(y,invFrm,oldInv)"
                                        data-ng-init="(!y.iamt)?y.iamt=0:y.iamt">
                                        <span class="err" data-ng-show="invFrm.iamt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <!--CGST-->
                                <td data-ng-class="{'has-error': invFrm.camt.$error.required}">
                                    <input type="text" class="form-control text-right" name="camt" ng-model="y.camt"
                                        ng-change="updateSGST(y);setPristine(y,invFrm,oldInv)" isNeg="true"
                                        data-fraction="2" id="val" data-formatting="currency" ng-required="dashbrdGstn == y.pos"
                                        data-ng-disabled="!invFrm.edb  || (dashbrdGstn != y.pos)"
                                        >
                                        <span class="err" data-ng-show="invFrm.camt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <!--SGST-->
                                <td data-ng-class="{'has-error': invFrm.samt.$error.required}">
                                    <input type="text" class="form-control text-right" name="samt" ng-model="y.samt"
                                        ng-change="updateCGST(y);setPristine(y,invFrm,oldInv)" isNeg="true"
                                        data-fraction="2" id="val" data-formatting="currency" ng-required="dashbrdGstn == y.pos"
                                        data-ng-disabled="!invFrm.edb  || (dashbrdGstn != y.pos)"
                                        >
                                        <span class="err" data-ng-show="invFrm.samt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <!--CESS-->
                                <td>
                                    <input type="text" class="form-control text-right" name="csamt" ng-model="y.csamt"
                                        data-fraction="2" 
                                        ng-change="setPristine(y,invFrm,oldInv)" isNeg="true" id="val" data-formatting="currency"
                                         data-ng-disabled="!invFrm.edb"
                                        >
                                </td>
                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb"
                                        data-ng-click="invFrm.edb = !invFrm.edb" tabindex="0"><i class="fa fa-pencil"
                                            aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb"
                                        data-ng-click="invFrm.edb=!invFrm.edb;invFrm.$setPristine();updateInvoice(y);"
                                        tabindex="0" data-ng-disabled="invFrm.$invalid || invFrm.$pristine">
                                        <i class="fa fa-save" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>

                        <tr ng-form="newInvFrm" ng-show="isLastPage(currentPage, pageSize)">
                            <td></td>
                            <td data-ng-class="{'has-error': newInvValidtr && newInvFrm.stin.$valid && !newInvRw.stin}">
                                <div class="row" ng-if="showAutocomplete && supenabled">
                                    <div class="col-lg-10" style="margin-top: 21%;margin-left: 0%; width:290px;"
                                        autocomplete-gstin ng-model="newInvRw.stin" id="stin" name="stin"
                                        input-name="stin" placeholder="Enter GSTIN/UIN" pause="500"
                                        title-field="supplierRecipientName" title="Enter GSTIN/UIN" data-maxlength="15"
                                        description-field="gstin" minlength="1" min-code-length-to-display="15"
                                        clear-result-after-select="false" after-select="afterGSTINSelected(result)"
                                        disable-after-select="{{isGSTINSelected}}" reset-results="clearGSTINInput()"
                                        ng-change="getNotAddedTb15B2C(newGstin);" show-key-in-description="true"
                                        no-data-flag="gstinNotAvailable(flag)" data-ng-required="true"
                                        disable-for-edit={{isB2BEdit}}>

                                    </div>
                                </div>

                                <input type="text" class="form-control formedit capitalize" name="stin"
                                    data-ng-if="!supenabled" style="margin-bottom: -23%;" data-ng-model="newInvRw.stin"
                                    data-ng-model-options="{updateOn:'blur'}" maxlength="15" ng-required="true"
                                    ng-change="onSuppGstinChange(newInvRw.stin);isSupStinAsEcomGstn(1,newInvRw.stin);" />
                                &nbsp;
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.stin"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <br><br>
                                <span class="err" style="display: block;"
                                    data-ng-show="newInvRw.stin && newInvFrm.stin.$error.pattern && !showDropdown"
                                    data-ng-bind="trans.LBL_VALID_GSTIN"></span>
                                &nbsp;
                                <span class="err" style="margin-left:-3%"
                                    data-ng-show="newInvRw.stin && newInvFrm.stin.$invalid && !newInvFrm.stin.$error.pattern">{{stinmsg}}</span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.cname.$error.pattern),'has-success': newInvValidtr && newInvFrm.cname.$valid }">
                                <input type="text" class="form-control formedit" name="cname"
                                    data-ng-model="newInvRw.cname" maxlength="15" ng-required="false"
                                    data-ng-pattern="/^[a-zA-Z0-9\_&'\-\.\/\,()?@!#%$~*;+= ]{1,99}$/" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.cname.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.pos),'has-success': newInvValidtr && newInvRw.pos }">
                                <select class="form-control" name="state_cd" ng-model="newInvRw.pos"
                                    ng-change="onPosChangeTB15B2CS(newInvRw)" required>
                                    <option value="">Select</option>
                                    <option data-ng-repeat="opt in StateList" data-ng-bind="opt.cd+'-'+opt.nm"
                                        value="{{opt.cd}}"></option>
                                </select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.pos"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.txval.$error.required),'has-success': newInvValidtr && newInvFrm.txval.$valid }">
                                <input type="text" isNeg="true" class="form-control text-right" name="txval"
                                    data-fraction="2" placeholder="" ng-model="newInvRw.txval"
                                    id="val" data-formatting="currency"
                                    data-ng-required="true"
                                    data-ng-change="onRtChangeTB15(newInvRw, isIntraStateB2CS(newInvRw)?4:3)" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.txval.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.sply_ty),'has-success': newInvValidtr && newInvRw.sply_ty }">
                                <select name="sply_ty" class="form-control" id="stype"
                                    ng-options="option.cd as option.name for option in suplyList"
                                    ng-model="newInvRw.sply_ty" disabled></select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.sply_ty"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <!--RATE-->
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.rt.$error.pattern || newInvFrm.rt.$error.required),'has-success': newInvValidtr && newInvFrm.rt.$valid }">
                                <select class="form-control" name="rt"
                                    ng-options="opt.value as opt.value for opt in RateList.CommGST"
                                    ng-model="newInvRw.rt"
                                    ng-change="onRtChangeTB15(newInvRw, isIntraStateB2CS(newInvRw)?4:3)"
                                    ng-required="true"></select>
                            </td>
                            <!-- IGST -->
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.iamt.$error.pattern || newInvFrm.iamt.$error.required),'has-success': newInvValidtr && newInvFrm.iamt.$valid }">
                                <input type="text" class="form-control text-right" name="iamt" ng-model="newInvRw.iamt"
                                    isNeg="true" ng-required="(!isIntraStateB2CS(newInvRw))"  id="val" data-formatting="currency" data-fraction="2"
                                    data-ng-disabled="( isIntraStateB2CS(newInvRw))" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.iamt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.iamt.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <!-- CGST -->
                            <td data-ng-class="{'has-error':  newInvValidtr && newInvFrm.camt.$error.required,'has-success': newInvValidtr && newInvFrm.camt.$valid }">
                                <input type="text" class="form-control text-right" name="camt" isNeg="true"
                                    ng-model="newInvRw.camt" ng-required="(isIntraStateB2CS(newInvRw))" data-ng-change="updateSGST()"
                                    id="val" data-formatting="currency" data-fraction="2"
                                    data-ng-disabled="(!isIntraStateB2CS(newInvRw))" />
                                    <span class="err" data-ng-show="newInvValidtr && newInvFrm.camt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <!-- SGST -->
                            <td data-ng-class="{'has-error':  newInvValidtr && newInvFrm.samt.$error.required,'has-success': newInvValidtr && newInvFrm.samt.$valid }">
                                <input type="text" class="form-control text-right" name="samt" isNeg="true"
                                    ng-model="newInvRw.samt" ng-required="(isIntraStateB2CS(newInvRw))" data-ng-change="updateCGST()"
                                    id="val" data-formatting="currency" data-fraction="2"
                                    data-ng-disabled="(!isIntraStateB2CS(newInvRw) )" />
                                    <span class="err" data-ng-show="newInvValidtr && newInvFrm.samt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <!-- CESS -->
                            <td>
                                <input type="text" class="form-control text-right" name="csamt" isNeg="true"
                                    ng-model="newInvRw.csamt" id="val" data-formatting="currency"
                                    data-fraction="2" 
                                     />
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="savePayload()"><i
                                        class="fa fa-save" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="text-center">

                    <wrap-dir-pagination></wrap-dir-pagination>

                </div>
            </div>
        </div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-primary pull-left" ng-show="ReturnsList.length"
                ng-click="deleteSelectedRows()">Delete</button>

        </div>
    </div>
</div>