<div data-ng-init="initB2bSumryList()">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="m0">Error File</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <label for="fin" class="reg">Section : <span class="capz">{{errSection}}</span></label>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" data-ng-bind="trans.HEAD_STATUS"></th>
                                <th rowspan="2" class="gstTblHeadr ctnTblHdr" data-ng-bind="trans.LBL_RECEIVER_GSTIN"></th>
                                <th rowspan="2" class="gstTblHeadr ctnTblHdr" data-ng-bind="trans.GSTIN_OF_E_COMM_PRTL"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_INVOICE_NUMBER"></th>
                                <th rowspan="2" class="gstTblHeadr dtTblHdr" data-ng-bind="trans.LBL_INVOICE_DATE"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_INVOICE_VALUE"></th>
                                <th rowspan="2" class="gstTblHeadr psTblHdr" data-ng-bind="trans.LBL_POS"></th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr" data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>

                                <th rowspan="2" class="gstTblHeadr spTblHdr">Uploaded By</th>
                                <th rowspan="2" class="gstTblHeadr">Filing Status</th>
                                <th rowspan="2" class="gstTblHeadr">Reverse Charge</th>
<!--                                <th rowspan="2" class="gstTblHeadr">Prov. Assmnt.</th>-->
                                <!-- <th class="gstTblHeadr">Add Item </th> -->
                                <!--                                <th class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_ACTIONS"></th>-->
<!--                                <th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.HEAD_CAT"></th>-->
<!--                                <th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.HEAD_HSN_SAC_SUP"></th>-->
                                <th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_TAXABLE_VALUE"></th>
                                <th colspan="2" data-ng-bind="trans.HEAD_CGST"></th>
                                <th colspan="2" data-ng-bind="trans.HEAD_SGST"></th>
                                <th colspan="2" data-ng-bind="trans.HEAD_IGST"></th>
                                <th colspan="2" data-ng-bind="trans.HEAD_CESS" ng-show="1"></th>
                                <!--                                <th class="gstTblHeadr">Save</th>-->
                            </tr>
                            <tr>
                                <th class="m100TblHdr" data-ng-bind="trans.HEAD_RATE"></th>
                                <th class="m100TblHdr" data-ng-bind="trans.HEAD_AMOUNT"></th>
                                <th class="m100TblHdr" data-ng-bind="trans.HEAD_RATE"></th>
                                <th class="m100TblHdr" data-ng-bind="trans.HEAD_AMOUNT"></th>
                                <th class="m100TblHdr" data-ng-bind="trans.HEAD_RATE"></th>
                                <th class="m100TblHdr" data-ng-bind="trans.HEAD_AMOUNT"></th>
                                <th class="m100TblHdr" data-ng-bind="trans.HEAD_RATE"></th>
                                <th class="m100TblHdr" data-ng-bind="trans.HEAD_AMOUNT"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="y in errList" ng-form="invFrm">
                                
                                <td class="text-center errStatus" ng-init="y.sty=invFrm.$valid">
                                    <i class="fa" ng-class="{'fa-exclamation-triangle': (invFrm.$invalid), 'fa-check-circle':(invFrm.$valid) }" aria-hidden="true"></i>
                                </td>

                                <td data-ng-class="{'has-error':  (invFrm.ctin.$error.pattern || invFrm.ctin.$error.required)}">
                                    <input type="text" class="form-control formedit" name="ctin" data-ng-pattern="/^[A-Za-z0-9]{15}$/" data-ng-model="y.ctin" ng-required="true" ng-keypress="onCtinChange(y)" ng-paste="onCtinChange(y)" />
                                </td>
                                <td data-ng-class="{'has-error':  (invFrm.etin.$error.pattern || invFrm.etin.$error.required)}">
                                    <input type="text" class="form-control formedit" name="etin" data-ng-pattern="/^[A-Za-z0-9]{15}$/" data-ng-model="y.etin" ng-required="true" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.inum.$error.pattern || invFrm.inum.$error.required)}">
                                    <input type="text" class="form-control formedit" name="inum" data-ng-model="y.inum" data-ng-pattern="/^[a-zA-Z0-9]*$/" maxlength="50" ng-required="true" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.idt.$error.pattern || invFrm.idt.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="idt" class="form-control date-picker" data-ng-model="y.idt" data-datepicker ng-required="true" data-max-days="0" data-min-years="60" />
                                            <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                        </div>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.val.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <input type="text" class="form-control text-right" name="val" data-ng-model="y.val" data-format="currency" ng-required="true" />
                                    </div>
                                </td>
                                <td data-ng-class="{'has-error': (!y.pos)}">
                                    <select class="form-control" ng-options="opt.cd as opt.nm for opt in StateList" ng-model="y.pos" ng-change="onCtinChange(y)"></select>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="option.name for option in suplyList track by option.name" ng-model="y.sp_typ"></select>
                                </td>
                                <td data-ng-class="{'has-error': (!y.updby)}">
                                    <select class="form-control" ng-options="opt.value as opt.name for opt in upLoadList" ng-model="y.updby"></select>
                                </td>
                                <td class="text-center pRel">
                                    <input type="checkbox" class="chkbx" ng-model="y.cfs" ng-true-value="'Y'" ng-false-value="'N'" />
                                    <label for="checkbox_all" ></label>
                                </td>
                                <td class="text-center pRel">
                                    <input type="checkbox" class="chkbx" ng-model="y.rchrg" ng-true-value="'Y'" ng-false-value="'N'" />
                                    <label for="checkbox_all" ></label>
                                </td>
<!--
                                <td class="text-center pRel">
                                    <input type="checkbox" class="chkbx" ng-model="y.prs" ng-true-value="'Y'" ng-false-value="'N'" />
                                    <label for="checkbox_all" ></label>
                                </td>
-->

                                <!--                                Item Details-->
<!--
                                <td data-ng-class="{'has-error': (!y.itm_det.ty)}">
                                    <select class="form-control" ng-options="opt.value as opt.name for opt in gsList" ng-model="y.itm_det.ty"></select>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.hsn_sc.$error.pattern || invFrm.hsn_sc.$error.required)}">
                                    <input type="text" class="form-control text-center" name="hsn_sc" placeholder="" ng-model="y.itm_det.hsn_sc" data-ng-pattern="/^[0-9]$/" maxlength="8" ng-required="true" />
                                </td>
-->
                                <td data-ng-class="{'has-error': (invFrm.txval.$error.pattern || invFrm.txval.$error.required)}">
                                    <input type="text" class="form-control text-right" name="txval" data-fraction="2" placeholder="" ng-model="y.itm_det.txval" data-ng-pattern="/^[0-9\,\₹\.]*$/" data-format="currency" ng-required="true" ng-change="onRtChange(y.itm_det)" />
                                </td>
                                <!-- SGST -->
                                <td data-ng-class="{'has-error': (invFrm.srt.$error.pattern || invFrm.srt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="srt" ng-model="y.itm_det.srt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/" ng-required="true" ng-change="onRtChange(y.itm_det,2)" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.samt.$error.pattern || invFrm.samt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="samt" ng-model="y.itm_det.samt" data-ng-pattern="/^[0-9\.]*$/" data-fraction="2" data-format="currency" ng-required="true">
                                </td>
                                <!-- CGST -->
                                <td data-ng-class="{'has-error': (invFrm.crt.$error.pattern || invFrm.crt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="crt" ng-model="y.itm_det.crt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/" ng-required="true" ng-change="onRtChange(y.itm_det,1)" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.camt.$error.pattern || invFrm.camt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="camt" ng-model="y.itm_det.camt" data-ng-pattern="/^[0-9\.]*$/" data-fraction="2" data-format="currency" ng-required="true">
                                </td>
                                <!-- IGST -->
                                <td data-ng-class="{'has-error': (invFrm.irt.$error.pattern || invFrm.irt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="irt" ng-model="y.itm_det.irt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/" ng-required="true" ng-change="onRtChange(y.itm_det, 3)" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.iamt.$error.pattern || invFrm.iamt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="iamt" ng-model="y.itm_det.iamt" data-ng-pattern="/^[0-9\.]*$/" data-fraction="2" data-format="currency" ng-required="true">
                                </td>
                                <!-- CESS -->
                                <td data-ng-class="{'has-error': (invFrm.csrt.$error.pattern || invFrm.csrt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="csrt" ng-model="y.itm_det.csrt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/" ng-required="true" ng-change="onRtChange(y.itm_det,4)" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.csamt.$error.pattern || invFrm.csamt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="csamt" ng-model="y.itm_det.csamt" data-ng-pattern="/^[0-9\.]*$/" data-fraction="2" data-format="currency" ng-required="true">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-primary pull-left" ng-click="saveErrorFiles()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>