<div data-ng-controller="uploadgstr1ctrl" data-ng-init="validateUserMstrRtnPrd();">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">

                <div class="table-responsive">

                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="1" class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="checked.selectall" ng-true-value="'Y'"
                                        ng-false-value="'N'" ng-click="checkAllNew(TaxPayerSummaryList, checked.selectall)" />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th rowspan="1" class="gstTblHeadr psTblHdr reg m-cir"
                                data-ng-bind="trans.LBL_NAT_SUPP_R1"></th>
                                <th rowspan="1" class="gstTblHeadr psTblHdr reg m-cir"
                                data-ng-bind="trans.LBL_FIN_YR_R1"></th>
                                <th rowspan="1" class="gstTblHeadr psTblHdr reg m-cir"
                                data-ng-bind="trans.LBL_ORG_MNT_QUART"></th>
                                <th rowspan="1" class="gstTblHeadr psTblHdr reg m-cir"
                                     ng-click="sort('oetin')">Original GSTIN of e-commerce operator</th>
                                <th rowspan="1" class="gstTblHeadr psTblHdr reg m-cir"
                                     ng-click="sort('etin')">Revised GSTIN of e-commerce operator</th>
                                <th rowspan="1" class="gstTblHeadr m100TblHdr"
                                    data-ng-bind="trans.LBL_ECOM_OPT_NM_R1"></th>
                                <th rowspan="1" class="gstTblHeadr spTblHdr reg m-cir"
                                    data-ng-bind="trans.LBL_NT_VAL_SUPP" ng-click="sort('suppval')"></th>

                                    <th class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.LBL_IGST_R1"></th>
                                    <th colspan="1" class="gstTblHeadr m100TblHdr reg m-cir"
                                        data-ng-bind="trans.LBL_CGST_R1"></th>
                                    <th colspan="1" class="gstTblHeadr m100TblHdr reg m-cir"
                                        data-ng-bind="trans.LBL_SGST_R1"></th>
                                <th colspan="1" class="gstTblHeadr m100TblHdr"
                                    data-ng-bind="trans.LBL_CESS_R1"></th>
                                    <th rowspan="2" class="gstTblHeadr" data-ng-bind="trans.HEAD_STATUS"></th>
                                    <th rowspan="1" class="gstTblHeadr psTblHdr"
                                    data-ng-bind="trans.LBL_ACT_R1"></th>
                            </tr>

                        </thead>

                        <tbody>

                            <tr dir-paginate="y in TaxPayerSummaryList | itemsPerPage: pageSize track by $index" current-page="currentPage" total-items="totalAvailable"
                                ng-form="invFrm" ng-init="oldInv=y">

                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" ng-true-value="'Y'" ng-false-value="'N'" data-ng-click="value(y.select, TaxPayerSummaryList)"/>
                                    <label for="checkbox_all"></label>
                                </td>
                                <td>                             
                                    <select name="nat_supp" id="nat_supp" class="form-control " data-ng-model="y.nat_supp"  
                                        data-ng-disabled="true || !invFrm.edb"  ng-required="true">
                                        <option value="clttxa">{{trans.LBL_LIAB_CLCT_TAX_TCS}}</option>
                                        <option value="paytxa">{{trans.LBL_LIAB_PAY_TAX}}</option>
                                    </select>
                                </td>
                                <td class="text-center" data-ng-class="{'has-error':  (invFrm.oyear.$error.required)}">                                    
                                    <select name="oyear" class="form-control" data-ng-options="item.year as item.year for item in years" data-ng-model="y.oyear.year"
                                        data-ng-change="onYearChange(y)" required data-ng-disabled="true"></select>
                                </td>
                              
                                <td class="text-center" data-ng-class="{'has-error':  (invFrm.omon.$error.required)}">                                  
                                    <select name="omon" class="form-control" id="omon" ng-options="opt.value as opt.month for opt in y.oyear.months" ng-model="y.omon"
                                        ng-required="true" data-ng-disabled="true"></select>
                                </td>
                                <td
                                    data-ng-class="{'has-error':  (invFrm.oetin.$error.pattern || invFrm.oetin.$error.required)}">
                                    <input type="text" style="margin-left: 0%; width:290px;"
                                        class="form-control formedit" name="oetin"
                                        data-ng-model-options="{updateOn:'blur'}" data-ng-model="y.oetin"
                                        data-ng-class="y.obj" ng-required="true" ng-change="onCtinChange(y);"
                                        data-ng-disabled="true || !invFrm.edb" />

                                </td>
                                <td
                                    data-ng-class="{'has-error':  (invFrm.etin.$error.pattern || invFrm.etin.$error.required)}">
                                    <input type="text" style="margin-left: 0%; width:290px;"
                                        class="form-control formedit" name="etin"
                                        data-ng-model-options="{updateOn:'blur'}" data-ng-model="y.etin"
                                        data-ng-class="y.obj" ng-required="true" ng-change="onCtinChange(y);"
                                        data-ng-disabled="true || !invFrm.edb" />

                                </td>
                                <td data-ng-class="{'has-error':  (invFrm.cname.$error.pattern)}">
                                    <input type="text" class="form-control formedit" name="cname"
                                        data-ng-model="y.cname"
                                        data-ng-pattern="/^[a-zA-Z0-9\_&'\-\.\/\,()?@!#%$~*;+= ]{1,99}$/"
                                        ng-required="false" data-ng-disabled="true || !invFrm.edb" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.suppval.$error.required)}">
                                    <input type="text" id="val" class="form-control text-right" name="suppval" isNeg="true"
                                        data-fraction="2" ng-model="y.suppval" ng-change="setPristine(y,invFrm,oldInv)"
                                        data-formatting="currency" ng-required="true" data-ng-disabled="!invFrm.edb" />
                                        <span class="err" data-ng-show="invFrm.suppval.$error.required"
                                        data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.igst.$error.required)}">
                                    <input type="text" class="form-control text-right" name="igst" ng-model="y.igst"
                                        isNeg="true" data-fraction="2" id="val" data-formatting="currency" ng-required="true"
                                        data-ng-disabled="!invFrm.edb" ng-change="setPristine(y,invFrm,oldInv)">
                                        <span class="err" data-ng-show="invFrm.igst.$error.required"
                                        data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <!--CGST-->
                                <td data-ng-class="{'has-error': (invFrm.cgst.$error.required)}">
                                    <input type="text" class="form-control text-right" name="cgst" ng-model="y.cgst"
                                        ng-change="setPristine(y,invFrm,oldInv);update14SGST(y);" isNeg="true"
                                        data-fraction="2" id="val" data-formatting="currency" ng-required="true"
                                        data-ng-disabled="!invFrm.edb">
                                        <span class="err" data-ng-show="invFrm.cgst.$error.required"
                                        data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <!--SGST-->
                                <td data-ng-class="{'has-error': (invFrm.sgst.$error.required)}">
                                    <input type="text" class="form-control text-right" name="sgst" ng-model="y.sgst"
                                        ng-change="setPristine(y,invFrm,oldInv);update14CGST(y);" isNeg="true"
                                        data-fraction="2" id="val" data-formatting="currency" ng-required="true"
                                        data-ng-disabled="!invFrm.edb">
                                        <span class="err" data-ng-show="invFrm.sgst.$error.required"
                                        data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <!--CESS-->
                                <td>
                                    <input type="text" class="form-control text-right" name="cess" ng-model="y.cess"
                                        data-fraction="2" ng-change="setPristine(y,invFrm,oldInv)" isNeg="true"
                                        id="val" data-formatting="currency" data-ng-disabled="!invFrm.edb">
                                </td>
                                <td class="text-center">
                                    <span class="text-center" ng-bind="y.flag"
                                    ng-style="{ 'color' : (y.flag=='D'? '#ff0000' : '#000000')}"></span>
                                </td>

                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb"
                                        data-ng-click="invFrm.edb = !invFrm.edb" tabindex="0"><i class="fa fa-pencil"
                                            aria-hidden="true"></i></button>

                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb"
                                        data-ng-click="invFrm.edb=!invFrm.edb;invFrm.$setPristine();updateInvoice(y);"
                                        tabindex="0" data-ng-disabled="invFrm.$invalid || invFrm.$pristine"><i
                                            class="fa fa-save" aria-hidden="true"></i></button>
                                </td>
</tr>
</tbody>

<tr ng-form="newInvFrm" ng-show="isLastPage(currentPage, pageSize)">
    <td></td>
    <td>
        <select name="nat_supp" id="nat_supp" class="form-control "
            data-ng-model="newInvRw.nat_supp" style="width:200px;" ng-required="true"
            ng-init="newInvRw.nat_supp='clttxa'" data-ng-change = "resetTbl14A()">
            <option value="clttxa">{{trans.LBL_LIAB_CLCT_TAX_TCS}}</option>
            <option value="paytxa">{{trans.LBL_LIAB_PAY_TAX}}</option>
        </select>
    </td>

    
   <td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.oyear),'has-success': newInvValidtr && (newInvRw.oyear) }">
    <select name="oyear" class="form-control" data-ng-options="item.year for item in years " data-ng-model="newInvRw.oyear" data-ng-change="onYearChange(newInvRw)"
        required>
    <option label="Select" value="" data-ng-selected="true" disabled></option></select>
    <span class="err" data-ng-show="newInvValidtr && !newInvRw.oyear" data-ng-bind="trans.ERR_MANDATORY"></span>

</td>
<td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.omon),'has-success': newInvValidtr && (newInvRw.omon) }">
    <select name="omon" class="form-control" id="omon" ng-options="opt.value as opt.month for opt in newInvRw.oyear.months" ng-model="newInvRw.omon" ng-required="true">
    <option label="Select" value="" data-ng-selected="true" disabled></option></select>
    <span class="err" data-ng-show="newInvValidtr && !newInvRw.omon" data-ng-bind="trans.ERR_MANDATORY"></span>
</td>
<td data-ng-class="{'has-error': newInvValidtr && newInvFrm.oetin.$valid && !newInvRw.oetin}">
    <div style="margin-left: 0%; width:290px;" autocomplete-gstin ng-model="newInvRw.oetin"
        id="oetin" name="oetin" input-name="oetin" placeholder="Enter GSTIN" pause="500"
        title-field="supplierRecipientName" title="Enter GSTIN" data-maxlength="15"
        description-field="gstin" minlength="1" min-code-length-to-display="15"
        clear-result-after-select="false" after-select="afterGSTINSelected(result)"
        disable-after-select="{{isGSTINSelected}}" reset-results="clearGSTINInput()"
        ng-change="getNotAddedTb14AGSTIN(newGstin);" show-key-in-description="true"
        no-data-flag="gstinNotAvailable(flag)" data-ng-required="true">
    </div>
    <span class="err" data-ng-show="newInvValidtr && !newInvRw.oetin"
        data-ng-bind="trans.ERR_MANDATORY"></span>
    <span class="err"
        data-ng-show="newInvRw.oetin && newInvFrm.oetin.$error.pattern && !showDropdown"
        data-ng-bind="trans.LBL_VALID_GSTINN"></span>
    <span class="err"
        data-ng-show="newInvRw.oetin && newInvFrm.oetin.$invalid && !newInvFrm.oetin.$error.pattern">{{oetinmsg}}</span>
</td>
<td data-ng-class="{'has-error': newInvValidtr && newInvFrm.etin.$valid && !newInvRw.etin}">
    <div style="margin-left: 0%; width:290px;" autocomplete-gstin ng-model="newInvRw.etin"
        id="etin" name="etin" input-name="etin" placeholder="Enter GSTIN" pause="500"
        title-field="supplierRecipientName" title="Enter GSTIN" data-maxlength="15"
        description-field="gstin" minlength="1" min-code-length-to-display="15"
        clear-result-after-select="false" after-select="afterGSTINSelected(result)"
        disable-after-select="{{isGSTINSelected}}" reset-results="clearGSTINInput()"
        ng-change="getNotAddedTb14GSTIN(newGstin);" show-key-in-description="true"
        no-data-flag="gstinNotAvailable(flag)" data-ng-required="true">
    </div>
    <span class="err" data-ng-show="newInvValidtr && !newInvRw.etin"
        data-ng-bind="trans.ERR_MANDATORY"></span>
    <span class="err"
        data-ng-show="newInvRw.etin && newInvFrm.etin.$error.pattern && !showDropdown"
        data-ng-bind="trans.LBL_VALID_GSTINN"></span>
    <span class="err"
        data-ng-show="newInvRw.etin && newInvFrm.etin.$invalid && !newInvFrm.etin.$error.pattern">{{etinmsg}}</span>
</td>
<td
data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.cname.$error.pattern)}">
<input type="text" class="form-control formedit" name="cname"
    data-ng-model="newInvRw.cname" maxlength="15" ng-required="false"
    data-ng-pattern="/^[a-zA-Z0-9\_&'\-\.\/\,()?@!#%$~*;+= ]{1,99}$/" />
<span class="err" data-ng-show="newInvValidtr && newInvFrm.cname.$error.pattern"
    data-ng-bind="trans.ERR_INV_CHAR"></span>
</td>
<td
data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.suppval.$error.required),'has-success': newInvValidtr && newInvFrm.suppval.$valid }">
<input type="text" id="val" isNeg="true" class="form-control text-right" name="suppval"
    data-fraction="2" placeholder="" ng-model="newInvRw.suppval" data-formatting="currency"
    data-ng-required="true" />
<span class="err" data-ng-show="newInvValidtr && newInvFrm.suppval.$error.required"
    data-ng-bind="trans.ERR_MANDATORY"></span>
</td>

<!-- IGST -->
<td
data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.igst.$error.pattern || newInvFrm.igst.$error.required),'has-success': newInvValidtr && newInvFrm.igst.$valid }">
<input type="text" class="form-control text-right" name="igst" ng-model="newInvRw.igst"
    isNeg="true" ng-required="true" id="val" data-formatting="currency" data-fraction="2" />
<span class="err" data-ng-show="newInvValidtr && newInvFrm.igst.$error.required"
    data-ng-bind="trans.ERR_MANDATORY"></span>
<span class="err" data-ng-show="newInvValidtr && newInvFrm.igst.$error.pattern"
    data-ng-bind="trans.ERR_INV_CHAR"></span>
</td>
<td
data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.cgst.$error.pattern || newInvFrm.cgst.$error.required),'has-success': newInvValidtr && newInvFrm.cgst.$valid }">
<input type="text" class="form-control text-right" name="cgst" isNeg="true"
    ng-model="newInvRw.cgst" ng-change="update14SGST()" ng-required="true"
    id="val" data-formatting="currency" data-fraction="2" />
<span class="err" data-ng-show="newInvValidtr && newInvFrm.cgst.$error.required"
    data-ng-bind="trans.ERR_MANDATORY"></span>

</td>
<!-- SGST -->
<td
data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.sgst.$error.pattern || newInvFrm.sgst.$error.required),'has-success': newInvValidtr && newInvFrm.sgst.$valid }">
<input type="text" class="form-control text-right" name="sgst" isNeg="true"
    ng-model="newInvRw.sgst" ng-required="true" ng-change="update14CGST()"
    id="val" data-formatting="currency" data-fraction="2" />
<span class="err" data-ng-show="newInvValidtr && newInvFrm.sgst.$error.required"
    data-ng-bind="trans.ERR_MANDATORY"></span>

</td>

<!-- CESS -->
<td>
<input type="text" class="form-control text-right" name="cess" isNeg="true"
    ng-model="newInvRw.cess" id="val" data-formatting="currency" data-fraction="2" />
</td>

<td class="text-center">
</td>

<td class="text-center">
    <button type="button" class="btn btn-sm btn-primary" ng-click="savePayload()"><i class="fa fa-save" aria-hidden="true"></i></button>
</td>
</tr>
</table>
</div>
<div class="text-center">

    <wrap-dir-pagination></wrap-dir-pagination>

</div>
</div>
</div>
<div class="btn-toolbar">
    <button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length" ng-click="presetDeleteFlagOrDelete()">Delete</button>

</div>
</div>
</div>