<div data-ng-controller="uploadgstr1ctrl">
    <div class="col-sm-6" style="padding-left: 20px;padding-top: 30px">
        <span class=" pull-left" style="width: 235px">
            Select Columns To Display/Hide:</span>
        <div class="form-group" ng-dropdown-multiselect events="multiSelectEvents" options="dropdownList"
            checkboxes="true" selected-model="selectedItems" extra-settings="myDropdownModelsettings">
            <toggle-dropdown>
                <span class="custom-control">{{selectedItems.length!=0?('+'+ selectedItems.length):''}}
                    <label for="drop" style="font-weight: normal !important;"
                        data-ng-show="selectedItems.length==0">Select</label>
                    <span class="caret" id="drop"></span>
                </span>
            </toggle-dropdown>
        </div>
    </div>
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <div ng-if="!isLoaded">
                    <alert-message type="info" message="Loading Invoices.."></alert-message>
                </div>
                <div class="table-responsive">
                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-true-value="'Y'"
                                        ng-false-value="'N'" ng-click="checkAll(TaxPayerSummaryList, selectAll)" />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th rowspan="2" class="gstTblHeadr ctnTblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_GSTIN_UIN_RECIPIENT" ng-click="sort('ctin')"></th>
                                <th class="gstTblHeadr psTblHdr sort" data-ng-bind="trans.LBL_RECEIVER_NAME"
                                    ng-click="sort('cname')"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_ORIGINAL_DEBIT_CREDIT_NOTE_NO" ng-click="sort('ont_num')">
                                </th>
                                <th rowspan="2" class="gstTblHeadr dtTblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_ORIGINAL_DEBIT_CREDIT_NOTE_DATE" ng-click="sort('ont_dt')">
                                </th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_REVISED_DEBIT_CREDIT_NOTE_NO" ng-click="sort('nt_num')">
                                </th>
                                <th rowspan="2" class="gstTblHeadr dtTblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_REVISED_DEBIT_CREDIT_NOTE_DATE" ng-click="sort('nt_dt')">
                                </th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr sort"
                                    data-ng-bind="trans.LBL_ORG_INV_NO" data-ng-show="trdcol" ng-click="sort('inum')" style="background-color: #FFCCCB;">
                                </th>
                                <th rowspan="2" class="gstTblHeadr dtTblHdr sort"
                                    data-ng-bind="trans.LBL_ORG_INV_DATE" data-ng-show="valcol" ng-click="sort('idt')" style="background-color: #FFCCCB;">
                                </th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir"
                                    data-ng-bind="trans.LBL_NOTE_TYP"></th>
                                <th class="gstTblHeadr psTblHdr reg m-cir sort" data-ng-bind="trans.LBL_POS"
                                    ng-click="sort('pos')"></th>
                                <th rowspan="2" class="gstTblHeadr" data-ng-bind="trans.LBL_RECHRG"></th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir"
                                    data-ng-bind="trans.LBL_NOTE_SUP_TYP" style="min-width: 320px;"></th>
                                <th class="gstTblHeadr psTblHdr reg m-cir" data-ng-bind="trans.LBL_NOT_VAL"></th>
                                <th class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_Diff_Percentage"></th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir"
                                    data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>
                                <th class="gstTblHeadr">Status</th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_ACTIONS"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="y in TaxPayerSummaryList | itemsPerPage: pageSize"
                                current-page="currentPage" total-items="totalAvailable" ng-form="invFrm"
                                ng-init="y.old_ntnum=y.nt_num;y.old_inum=y.inum;y.old_val=y.val">
                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" ng-true-value="'Y'"
                                        ng-false-value="'N'" />
                                    <label for="checkbox_all"></label>
                                </td>
                                <td
                                    data-ng-class="{'has-error':  (invFrm.ctin.$error.pattern || invFrm.ctin.$error.required)}">
                                    <input type="text" class="form-control formedit capitalize" name="ctin"
                                        data-ng-model="y.ctin"
                                        ng-change="onCtinChange(y);isValidPattern(0,y.ctin,invFrm)" maxlength="15"
                                        ng-required="true" data-ng-disabled="true || !invFrm.edb" />
                                </td>
                                <td data-ng-class="{'has-error':  (invFrm.cname.$error.pattern)}">
                                    <input type="text" class="form-control formedit" name="cname"
                                        data-ng-model="y.cname"
                                        data-ng-pattern="/^[a-zA-Z0-9\_&'\-\.\/\,()?@!#%$~*;+= ]{1,99}$/"
                                        ng-required="false" data-ng-disabled="true || !invFrm.edb" />
                                </td>
                                <td
                                    data-ng-class="{'has-error': (invFrm.ont_num.$error.pattern || invFrm.ont_num.$error.required)}">
                                    <input type="text" class="form-control formedit" name="ont_num"
                                        data-ng-model="y.ont_num" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
                                        data-ng-change="isDuplicateInvoice(0,y,'ont_num',invFrm)"
                                        data-ng-model-options="{updateOn:'blur'}" maxlength="16" ng-required="true"
                                        data-ng-disabled="true" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.ont_dt.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="ont_dt" class="form-control date-picker"
                                                data-ng-model="y.ont_dt" data-datepicker ng-required="true"
                                                data-min-years="{{minYearsAllowed}}" data-min-date="{{minDate()}}"
                                                data-max-date="{{datefunc()}}" data-ng-disabled="!invFrm.edb || true"
                                                data-ng-change="isLessThanInvDate(0,y,invFrm);isMoreThanInvDate(0,y,invFrm)" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td
                                    data-ng-class="{'has-error': (invFrm.nt_num.$error.pattern || invFrm.nt_num.$error.required || invFrm.nt_num.$invalid)}">
                                    <input type="text" class="form-control formedit" name="nt_num"
                                        data-ng-model="y.nt_num" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
                                        data-ng-change="isDuplicateInvoice(0,y,'nt_num',invFrm)"
                                        data-ng-model-options="{updateOn:'blur'}" maxlength="50" ng-required="true"
                                        data-ng-disabled="!invFrm.edb" />
                                </td>
                                <td
                                    data-ng-class="{'has-error': (invFrm.nt_dt.$error.required || invFrm.nt_dt.$error.pattern || invFrm.nt_dt.$invalid)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="nt_dt" class="form-control date-picker" data-ng-model="y.nt_dt"
                                                data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
                                                placeholder="DD-MM-YYYY" data-min-date="{{minDate()}}"
                                                data-max-date="{{datefunc()}}" data-ng-model-options="{updateOn:'blur'}"
                                                data-ng-change="isLessThanInvDate(0,y,invFrm);isMoreThanInvDate(0,y,invFrm)"
                                                data-ng-disabled="!invFrm.edb"
                                                data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.inum.$error.pattern)}" data-ng-show="trdcol" style="background-color: #D2D4D6;">
                                    <input type="text" class="form-control formedit" name="inum" data-ng-model="y.inum"
                                        data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
                                        data-ng-model-options="{updateOn:'blur'}" maxlength="16" ng-required="false"
                                        data-ng-disabled="true"
                                        data-ng-change="isDuplicateInvoice(0,y,'inum',invFrm)" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.idt.$error.pattern)}" data-ng-show="valcol" style="background-color: #D2D4D6;">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="idt" class="form-control date-picker" data-ng-model="y.idt"
                                                data-ng-model-options="{updateOn:'blur'}" data-datepicker
                                                placeholder="DD-MM-YYYY"
                                                data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                                data-datepicker ng-required="false"
                                                data-ng-change="dateLimit(0,y.idt,invFrm);isLessThanInvDate(0,y,invFrm);isMoreThanInvDate(0,y,invFrm)"
                                                ng-required="true" data-min-years="{{minYearsAllowed}}"
                                                data-min-date="{{(!y.dt)?y.dt:minDate()}}"
                                                data-max-date="{{datefunc()}}" data-ng-disabled="!invFrm.edb || true" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" ng-model="y.ntty" data-ng-disabled="!invFrm.edb"
                                        required>
                                        <option value="">Select</option>
                                        <option data-ng-repeat="opt in noteList1" data-ng-bind="opt.name"
                                            value="{{opt.value}}"></option>
                                    </select>

                                </td>
                                <td data-ng-class="{'has-error':(invFrm.pos.$invalid)}">
                                    <select class="form-control" ng-model="y.pos" name="pos"
                                        ng-change="onCtinChange(y);onPosChange(y)" data-ng-disabled="!invFrm.edb" ng-required="true">
                                        <option value="">Select</option>
                                        <option data-ng-repeat="opt in StateList" data-ng-bind="opt.cd+'-'+opt.nm"
                                            value="{{opt.cd}}"></option>
                                    </select>
                                    <span class="err" data-ng-show="isEmptyPOS && !y.pos && rowIndex == $index"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <td class="text-center pRel">
                                    <input type="checkbox" class="chkbx" ng-model="y.rchrg" ng-true-value="'Y'"
                                        ng-false-value="'N'" data-ng-disabled="!invFrm.edb || y.inv_typ=='DE'"
                                        data-ng-change="validateNoteType('rchrg',0,y,invFrm)" />
                                    <label for="checkbox_all"></label>
                                </td>
                                <td
                                    data-ng-class="{'has-error':(invFrm.inv_typ.$invalid)}">
                                    <select class="form-control" name="inv_typ"
                                        ng-options="type.c as type.n for type in InvTypeListForB2b.b2b" ng-model="y.inv_typ"
                                        data-ng-disabled="!invFrm.edb"
                                        data-ng-change="onCtinChange(y);onPosChange(y);validateNoteType('inv_typ',0,y,invFrm);"
                                        ng-required="true">
                                        <option value="">Select</option>
                                    </select>
                                    <span class="err" data-ng-show="y.inv_typ && invFrm.inv_typ.$invalid"
                                        data-ng-bind="trans.ERR_INVALID_NOTE_TYPE_REV"></span>
                                    <span class="err" data-ng-show="isEmptyNoteSupplyType && !y.inv_typ && rowIndex == $index"
                                        data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <td
                                    data-ng-class="{'has-error': (invFrm.val.$error.pattern || invFrm.val.$error.required)}">
                                    <input type="text" class="form-control formedit" name="val" data-ng-model="y.val"
                                        data-format="currency" data-fraction="2" data-ng-change="setPristine(y,invFrm)"
                                        data-id="invval" ng-required="true" data-ng-disabled="!invFrm.edb" />
                                </td>
                                <td class="text-center pRel"
                                title="{{trans.LBL_Diff_Percent_title_text}}">
                                    <select class="form-control"
                                        ng-options="option.value as option.name for option in differentialPercent"
                                        id="diff_percent" data-ng-change="onDiffPerChange(y);"
                                        data-ng-model="y.diff_percent" data-ng-disabled="!invFrm.edb">
                                        <option value="">Select</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control"
                                        ng-options="option.name for option in suplyList track by option.name"
                                        ng-model="y.sp_typ" data-ng-change="change_suptyp(y)"
                                        data-ng-disabled="!invFrm.edb || y.pos || true">
                                    </select>
                                </td>
                                <td class="text-center">
                                    <span class="text-center" ng-bind="y.flag" ng-style="{ 'color' : (y.flag=='D'? '#ff0000' : '#000000')}"></span>
                                </td>
                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb"
                                        data-ng-click="gotoAddItems(y)" tabindex="0"
                                        data-ng-disabled="invFrm.$invalid"><i class="fa fa-plus-circle"
                                            aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb"
                                        data-ng-click="invFrm.edb=!invFrm.edb;updateInvoice(y);onSetDiffPer(y);"
                                        tabindex="0" data-ng-disabled="invFrm.$invalid || invFrm.$pristine"><i
                                            class="fa fa-save" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb"
                                        data-ng-click="invFrm.edb = !invFrm.edb; clearOldInv(y,'cdnra');fnValidateReqrd(invFrm,y,$index)" tabindex="0"><i
                                            class="fa fa-pencil" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tr ng-form="newInvFrm" ng-show="isLastPage(currentPage, pageSize)">
                            <td></td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.ctin.$error.pattern || newInvFrm.ctin.$error.required || newInvFrm.ctin.$invalid),'has-success': newInvValidtr && newInvFrm.ctin.$valid }">

                                <input type="text" class="form-control formedit capitalize" name="ctin"
                                    data-ng-model="newInvRw.ctin" data-ng-model-options="{updateOn:'blur'}"
                                    maxlength="15" ng-required="true"
                                    ng-change="onGstinChange(newInvRw.ctin);getPosBasedOnCtin(newInvRw);isRecGstnAsSupGstn(1,newInvRw.ctin);isNotRegular(1,newInvRw)" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.ctin.$error.required"
                                    data-ng-bind="trans.LBL_RECIEVER_GSTIN"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.ctin.$error.required"
                                    data-ng-bind="trans.LBL_REC_GSTIN_REQ"></span>
                                <span class="err" data-ng-show="newInvRw.ctin && newInvFrm.ctin.$error.pattern"
                                    data-ng-bind="trans.LBL_VALID_GSTIN"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.ctin && newInvFrm.ctin.$invalid && !newInvFrm.ctin.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CTIN"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.cname.$error.pattern),'has-success': newInvValidtr && newInvFrm.cname.$valid }">
                                <input type="text" class="form-control formedit capitalize" name="cname"
                                    data-ng-model="newInvRw.cname" maxlength="15" ng-required="false"
                                    data-ng-pattern="/^[a-zA-Z0-9\_&'\-\.\/\,()?@!#%$~*;+= ]{1,99}$/" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.cname.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.ont_num.$error.pattern || newInvFrm.ont_num.$error.required),'has-success': newInvValidtr && newInvFrm.ont_num.$valid }">
                                <input type="text" class="form-control formedit" name="ont_num"
                                    data-ng-model="newInvRw.ont_num" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
                                    data-ng-model-options="{updateOn:'blur'}"
                                    data-ng-change="isDuplicateInvoice(1,newInvRw,'ont_num')" maxlength="50"
                                    ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.ont_num.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.ont_num.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.ont_num && isInvalidOriginalNumber && newInvFrm.ont_num.$invalid"
                                    data-ng-bind="trans.ERR_INVALID_NOTE"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.ont_num && isDuplicateOriginalNumber && newInvFrm.ont_num.$invalid"
                                    data-ng-bind="trans.ERR_DUPLICATE_NOTE"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.ont_dt.$error.pattern || newInvFrm.ont_dt.$error.required),'has-success': newInvValidtr && newInvFrm.ont_dt.$valid }">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>
                                    <input name="ont_dt" class="form-control date-picker"
                                        data-ng-model="newInvRw.ont_dt" data-datepicker ng-required="true"
                                        data-min-date="{{minDate()}}" data-min-years="{{minYearsAllowed}}"
                                        data-max-date="{{datefunc()}}"
                                        data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                        data-ng-change="isMoreThanInvDate(1,newInvRw);isLessThanInvDate(1,newInvRw);"
                                        placeholder="DD-MM-YYYY">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.ont_dt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err"
                                    data-ng-show="(newInvRw.ont_dt) && (newInvFrm.ont_dt.$invalid)">{{errMsg1}}</span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.ont_dt.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.nt_num.$error.pattern || newInvFrm.nt_num.$error.required || newInvFrm.nt_num.$invalid),'has-success': newInvValidtr && newInvFrm.nt_num.$valid }">
                                <input type="text" class="form-control formedit" name="nt_num"
                                    data-ng-model="newInvRw.nt_num" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
                                    maxlength="16" data-ng-model-options="{updateOn:'blur'}"
                                    data-ng-change="isDuplicateInvoice(1,newInvRw,'nt_num')" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_num.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_num.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.nt_num && isInvalidNumber && newInvFrm.nt_num.$invalid"
                                    data-ng-bind="trans.ERR_INVALID_NOTE"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.nt_num && isDuplicateNumber && newInvFrm.nt_num.$invalid"
                                    data-ng-bind="trans.ERR_DUPLICATE_NOTE"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.nt_dt.$error.pattern || newInvFrm.nt_dt.$error.required  || newInvFrm.nt_dt.$invalid),'has-success': newInvValidtr && newInvFrm.nt_dt.$valid }">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>
                                    <input name="nt_dt" class="form-control date-picker" data-ng-model="newInvRw.nt_dt"
                                        data-datepicker
                                        data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                        ng-required="true" data-ng-model-options="{updateOn:'blur'}"
                                        data-ng-change="isMoreThanInvDate(1,newInvRw);isLessThanInvDate(1,newInvRw);"
                                        data-min-years="{{minYearsAllowed}}" placeholder="DD-MM-YYYY"
                                        data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_dt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err"
                                    data-ng-show="(newInvRw.nt_dt) && (newInvFrm.nt_dt.$invalid)">{{errMsg}}</span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_dt.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.inum.$error.pattern || newInvFrm.inum.$error.required || newInvFrm.inum.$invalid),'has-success': newInvValidtr && newInvFrm.inum.$valid }"
                                data-ng-show="trdcol" style="background-color: #D2D4D6;">
                                <input type="text" class="form-control formedit" name="inum"
                                    data-ng-model="newInvRw.inum" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/"
                                    data-ng-model-options="{updateOn:'blur'}" maxlength="16" ng-required="false"
                                    data-ng-disabled="true" data-ng-change="isDuplicateInvoice(1,newInvRw,'inum')" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.inum && isInvalidNumber && newInvFrm.inum.$invalid"
                                    data-ng-bind="trans.ERR_INVALID_INV"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.inum && isDuplicateNumber && newInvFrm.inum.$invalid"
                                    data-ng-bind="trans.ERR_DUPLICATE_INV"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.idt.$error.pattern || newInvFrm.idt.$error.required || newInvFrm.idt.$invalid),'has-success': newInvValidtr && newInvFrm.idt.$valid }"
                                data-ng-show="valcol" style="background-color: #D2D4D6;">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>
                                    <input name="idt" class="form-control date-picker" data-ng-model="newInvRw.idt"
                                        data-ng-model-options="{updateOn:'blur'}"
                                        data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                        data-ng-change="dateLimit(1,newInvRw.idt);isLessThanInvDate(1,newInvRw);isMoreThanInvDate(1,newInvRw);"
                                        data-datepicker ng-required="false" data-ng-disabled="true"
                                        data-min-years="{{minYearsAllowed}}" placeholder="DD-MM-YYYY"
                                        data-min-date="{{(!y.dt)?y.dt:minDate()}}" data-max-date="{{datefunc()}}">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.idt && newInvFrm.idt.$invalid">{{invdtmsg}}</span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.ntty),'has-success': newInvValidtr && newInvRw.ntty }">
                                <select class="form-control" name="ntty" ng-model="newInvRw.ntty" ng-required="true">
                                    <option value="">Select</option>
                                    <option data-ng-repeat="opt in noteList1" data-ng-bind="opt.name"
                                        value="{{opt.value}}"></option>
                                </select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.ntty"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.pos),'has-success': newInvValidtr && newInvRw.pos }">
                                <select class="form-control" ng-model="newInvRw.pos"
                                    ng-change="onCtinChange(newInvRw);onPosChange(newInvRw)">
                                    <option value="">Select</option>
                                    <option data-ng-repeat="opt in StateList" data-ng-bind="opt.cd+'-'+opt.nm"
                                        value="{{opt.cd}}"></option>
                                </select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.pos"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <td class="text-center pRel">
                                <input type="checkbox" class="chkbx" ng-model="newInvRw.rchrg" ng-true-value="'Y'"
                                    ng-false-value="'N'" data-ng-change="validateNoteType('rchrg',1,newInvRw)" data-ng-disabled="newInvRw.inv_typ=='DE'"/>
                                <label for="checkbox_all"></label>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.inv_typ || newInvFrm.inv_typ.$error.required || newInvFrm.inv_typ.$invalid),'has-success': newInvValidtr && newInvRw.inv_typ && newInvFrm.inv_typ.$valid}">
                                <select class="form-control" name="inv_typ"
                                    ng-options="type.c as type.n for type in InvTypeListForB2b.b2b"
                                    ng-model="newInvRw.inv_typ"
                                    data-ng-change="onCtinChange(newInvRw);onPosChange(newInvRw);validateNoteType('inv_typ',1,newInvRw)"
                                    required>
                                    <option value="">Select</option>
                                    <option data-ng-repeat="type in InvTypeListForB2b.b2b" data-ng-bind="type.n"
                                        value="{{type.c}}"></option>
                                </select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.inv_typ"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvRw.inv_typ && newInvFrm.inv_typ.$invalid"
                                    data-ng-bind="trans.ERR_INVALID_NOTE_TYPE_REV"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.val.$error.required || newInvFrm.val.$invalid),'has-success': newInvValidtr && newInvFrm.val.$valid }">
                                <input type="text" class="form-control formedit" name="val" data-ng-model="newInvRw.val"
                                    data-format="currency" data-fraction="2" ng-required="true" data-id="invval" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err"
                                    data-ng-show="newInvValidtr && (newInvRw.val) &&(newInvFrm.val.$invalid)"></span>
                            </td>
                            <td class="text-center pRel"
                            title="{{trans.LBL_Diff_Percent_title_text}}">
                                <select class="form-control" ng-options="opt.name for opt in differentialPercent"
                                    data-ng-change="onDiffPerChange(newInvRw);" id="diff_percent"
                                    data-ng-model="newInvRw.diff_percent">
                                    <option value="">Select</option>
                                </select>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.sp_typ.name),'has-success': newInvValidtr && newInvRw.sp_typ.name }">
                                <select name="sp_typ" class="form-control" id="stype"
                                    ng-options="option.name for option in suplyList track by option.name"
                                    ng-model="newInvRw.sp_typ" data-ng-disabled="true">
                                    <option label="Select" data-ng-selected="true" data-ng-value="">
                                </select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.sp_typ.name"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <td></td>
                            <td class="text-center" colspan="2">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="gotoAddItems('add')"><i
                                        class="fa fa-plus-circle" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="text-center">
                    <wrap-dir-pagination></wrap-dir-pagination>
                </div>
            </div>
        </div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length"
                ng-click="setDeleteFlagOrDelete()">Delete</button>
        </div>
    </div>
</div>