<div data-ng-controller="errorreturnsctrl" data-ng-init="validateUserMstrRtnPrd();getSupplierDetails();">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table tbl inv table-bordered" ng-show="ErrorList.length>0">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-click="checkAll()"
                                        ng-checked="allSelected()" />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th class="gstTblHeadr ctnTblHdr reg m-cir sort" data-ng-bind="trans.LBL_SUP_GSTN_UIN"
                                ng-click="sort('stin')"></th>
                                <th class="gstTblHeadr ctnTblHdr reg m-cir sort" data-ng-bind="trans.LBL_REC_GSTN_UIN"
                                    ng-click="sort('rtin')"></th>
                               
                                <th class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_ORG_DOC_NO_R1"
                                    ng-click="sort('oinum')"></th>
                                <th class="gstTblHeadr dtTblHdr reg m-cir sort" data-ng-bind="trans.LBL_ORG_DOC_DT_R1"
                                    ng-click="sort('oidt')"></th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_REV_DOC_NO_R1" ng-click="sort('inum')"></th>
                                <th class="gstTblHeadr dtTblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_REV_DT" ng-click="sort('idt')"></th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_TOT_VAL_SUP_MD"
                                    ng-click="sort('val')"></th>
                                <th class="gstTblHeadr psTblHdr reg m-cir sort" data-ng-bind="trans.LBL_POS"
                                    ng-click="sort('pos')"></th>
                                <th class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>
                                <th class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_DOC_TYP"
                                    style="min-width: 320px;"></th>
                                <th class="gstTblHeadr errMsg" data-ng-bind="trans.LBL_Error_Message"></th>
                                <th class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_ACTIONS"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="y in ErrorList | filter:searchInvNum | orderBy:sortBy:sortReverse | itemsPerPage: pageSize"
                                current-page="currentPage" ng-form="invFrm" ng-init="y.old_inum=y.inum">
                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" />
                                    <label for="checkbox_all"></label>
                                </td>
                                <td data-ng-class="{'has-error':  (invFrm.stin.$error.required)}">
                                    <input type="text" class="form-control formedit" name="stin" capitalize="toUpperCase"
                                        data-ng-model-options="{updateOn:'blur'}" data-ng-class="y.obj" data-ng-model="y.stin"
                                        maxlength="15" minlength="1" 
                                        ng-required="true" ng-change="isRecStinAsEcomGstn(0,y.stin,invFrm);onSuppGstinChange(y.stin,invFrm);"
                                        data-ng-disabled="!invFrm.edb" />
                                        <span class="err" data-ng-show="invFrm.stin.$error.required"
                                        data-ng-bind="trans.ERR_MANDATORY"></span>
                                       
                                    <span class="err" style="display: block;"
                                        data-ng-show="y.stin && invFrm.stin.$error.pattern && !showDropdown"
                                        data-ng-bind="trans.LBL_VALID_GSTIN"></span>
                                    
                                    <span class="err" style="margin-left:-3%"
                                        data-ng-show="y.stin && invFrm.stin.$invalid && !invFrm.stin.$error.pattern"
                                        >{{stinrtinmsg}}</span>
                                </td>
                                <td data-ng-class="{'has-error':  (invFrm.rtin.$error.required)}">
                                    <input type="text" class="form-control formedit" name="rtin" capitalize="toUpperCase"
                                        data-ng-model-options="{updateOn:'blur'}" data-ng-model="y.rtin"
                                        ng-required="true" data-ng-class="y.obj"  maxlength="15" 
                                        ng-change="isRecRtinAsEcomGstn(0,y.rtin,invFrm);onRtinChange(y.rtin,invFrm);getPosBasedOnRtin(y);"
                                        data-ng-disabled="!invFrm.edb" />
                                        <span class="err" data-ng-show="invFrm.rtin.$error.required"
                                data-ng-bind="trans.ERR_MANDATORY"></span>
                               
                            <span class="err" style="display: block;"
                                data-ng-show="y.rtin && invFrm.rtin.$error.pattern && !showDropdown"
                                data-ng-bind="trans.LBL_VALID_GSTIN"></span>
                            
                            <span class="err" style="margin-left:-3%"
                                data-ng-show="y.rtin && invFrm.rtin.$invalid && !invFrm.rtin.$error.pattern"
                                >{{rtinstinmsg}}</span>
                                </td>
                               

                                <td
                                    data-ng-class="{'has-error': (invFrm.oinum.$error.pattern || invFrm.oinum.$error.required || invFrm.oinum.$invalid)}">
                                    <input type="text" class="form-control formedit" name="oinum"
                                        data-ng-model="y.oinum" data-ng-focus="freezeOrder('oinum')"
                                        data-ng-model-options="{updateOn:'blur'}"
                                        data-ng-pattern="validations.formats.invoiceregex"
                                        data-ng-change="isDuplicateInvoice(0,y,'oinum',invFrm)" maxlength="16"
                                        ng-required="true" data-ng-disabled="!invFrm.edb" />
                                    <span class="err" data-ng-show="invFrm.oinum.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="invFrm.oinum.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err"
                                    data-ng-show="y.oinum && isInvalidOriginalNumber && invFrm.oinum.$invalid"
                                    data-ng-bind="trans.ERR_INVALID_INV"></span>
                                    <span class="err"
                                    data-ng-show="y.oinum && isDuplicateNumber && invFrm.oinum.$invalid"
                                    data-ng-bind="isDuplicateMsgorg"></span>
                                </td>
                                <td
                                    data-ng-class="{'has-error': (invFrm.oidt.$error.pattern || invFrm.oidt.$error.required || invFrm.oidt.$invalid)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="oidt" class="form-control date-picker" data-ng-model="y.oidt"
                                                data-datepicker ng-required="true"
                                                data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                                data-ng-change="docOldDateLimit(0,y.oidt,invFrm)"
                                                data-min-years="{{minYearsAllowed}}" data-min-date="{{minDate()}}"
                                                data-max-date="{{datefunc()}}" data-ng-disabled="!invFrm.edb" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                    <span class="err" data-ng-show="invFrm.oidt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="invFrm && invFrm.oidt.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err"
                                    data-ng-show="y.oidt && invFrm.oidt.$invalid">{{invdtmsg}}</span>
                                </td>


                                <td
                                    data-ng-class="{'has-error': (invFrm.inum.$error.pattern || invFrm.inum.$error.required || invFrm.inum.$invalid)}">
                                    <input type="text" class="form-control formedit" name="inum" data-ng-model="y.inum"
                                        data-ng-focus="freezeOrder('inum')" data-ng-model-options="{updateOn:'blur'}"
                                        data-ng-pattern="validations.formats.invoiceregex"
                                        data-ng-change="isDuplicateInvoice(0,y,'inum',invFrm)" maxlength="16"
                                        ng-required="true" data-ng-disabled="!invFrm.edb" />
                                    <span class="err" data-ng-show="invFrm.inum.$error.required"
                                        data-ng-bind="trans.ERR_MANDATORY"></span>
                                    <span class="err" data-ng-show="invFrm.inum.$error.pattern"
                                        data-ng-bind="trans.ERR_INV_CHAR"></span>
                                    <span class="err"
                                        data-ng-show="y.inum && isInvalidNumber && invFrm.inum.$invalid"
                                        data-ng-bind="trans.ERR_INVALID_INV"></span>
                                 
                                        <span class="err"
                                        data-ng-show="y.inum && isDuplicateNumber && invFrm.inum.$invalid"
                                        data-ng-bind="isDuplicateMsg"></span>
                                </td>
                                <td
                                    data-ng-class="{'has-error': (invFrm.idt.$error.pattern || invFrm.idt.$error.required || invFrm.idt.$invalid)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="idt" class="form-control date-picker" data-ng-model="y.idt"
                                                data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
                                                data-ng-model-options="{updateOn:'blur'}" placeholder="DD-MM-YYYY"
                                                data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                                data-datepicker ng-required="true"
                                                data-ng-change="docDateLimit(0,y.idt,invFrm)" data-min-date="{{minDate()}}"
                                                data-max-date="{{datefunc()}}" data-ng-disabled="!invFrm.edb" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                    <span class="err" data-ng-show="invFrm.idt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="invFrm && invFrm.idt.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err"
                                    data-ng-show="y.idt && invFrm.idt.$invalid">{{invdtmsg}}</span>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.val.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <input type="text" class="form-control text-right" name="val"
                                            data-ng-model="y.val" data-ng-focus="freezeOrder('val')"
                                            data-format="currency" data-id="invval" data-fraction="2" ng-required="true"
                                            data-ng-disabled="!invFrm.edb" />
                                    </div>
                                    <span class="err" data-ng-show="invFrm.val.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.pos.$error.required)}">
                                    <select name="pos" class="form-control"
                                        ng-options="opt.cd as opt.cd+'-'+opt.nm for opt in StateList" ng-model="y.pos"
                                        ng-change="onCtinChange(y);onPosChange(y);"
                                        ng-required="true"
                                        data-ng-disabled="!invFrm.edb">
                                        <option value="">Select</option>
                                    </select>
                                    <span class="err" data-ng-show="invFrm.pos.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <td>
                                    <select class="form-control"
                                        ng-options="option.value as option.name for option in suplyList track by option.name"
                                        ng-model="y.sp_typ" disabled></select>
                                    <span class="err" data-ng-show="newInvValidtr && !y.sp_typ.name"
                                        data-ng-bind="trans.ERR_MANDATORY"></span>
                                </td>
                                <td data-ng-class="{'has-error':(!y.inv_typ || invFrm.inv_typ.$error.required || invFrm.inv_typ.$invalid)}">

                                    <select class="form-control"
                                        ng-options="type.c as type.n for type in InvTypeListForB2b.b2b15" ng-model="y.inv_typ"
                                        data-ng-disabled="!invFrm.edb"
                                        data-ng-change="onCtinChange(y);onPosChange(y);validateNoteType('inv_typ',0,y,invFrm)"
                                        ng-required="true" name="inv_typ"></select>
                                        <span class="err" data-ng-show="y.inv_typ && invFrm.inv_typ.$invalid"
                                        data-ng-bind="trans.ERR_INVALID_INV_TYPE"></span>
                                </td>
                                <td class="text-center">
                                    <div class="text-center"><span data-ng-bind="y.error_msg"></span></div>
                                </td>
                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb"
                                        data-ng-click="gotoAddItems(y)" tabindex="0"
                                        data-ng-disabled="invFrm.$invalid"><i class="fa fa-plus-circle"
                                            aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb"
                                        data-ng-click="invFrm.edb=!invFrm.edb;updateInvoice(y)" tabindex="0"
                                        data-ng-disabled="invFrm.$invalid"><i class="fa fa-save"
                                            aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb"
                                        data-ng-click="invFrm.edb = !invFrm.edb " tabindex="0"><i class="fa fa-pencil"
                                            aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span ng-show="!ErrorList.length"> No Invoices for {{sectionListSelected.nm}}</span>
                <div class="text-center">
                    <wrap-dir-pagination></wrap-dir-pagination>
                </div>
            </div>
        </div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-primary pull-left" ng-show="ErrorList.length"
                ng-click="deleteSelectedRows()">Delete</button>
        </div>
    </div>
</div>