<div data-ng-controller="returnsctrl">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-true-value="'Y'" ng-false-value="'N'" ng-click="checkAll(ReturnsList, selectAll)"
                                    />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th rowspan="2" class="gstTblHeadr ctnTblHdr reg m-cir sort" data-ng-bind="trans.LBL_RECEIVER_GSTIN" ng-click="sort('ctin')"></th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_NOT_TYP"></th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_RSN_NOTE"></th>

                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_DEBIT_CREDIT_NOTE_NO" ng-click="sort('nt_num')"></th>
                                <th rowspan="2" class="gstTblHeadr dtTblHdr reg m-cir sort" data-ng-bind="trans.LBL_DEBIT_CREDIT_NOTE_DATE" ng-click="sort('nt_dt')"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_INVOICE_NUMBER" ng-click="sort('inum')"></th>
                                <th rowspan="2" class="gstTblHeadr dtTblHdr reg m-cir sort" data-ng-bind="trans.LBL_INVOICE_DATE" ng-click="sort('idt')"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_TOT_DIFF_VAL" ng-click="sort('val')"></th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>
                                <th colspan="2" data-ng-bind="trans.HEAD_IGST" class="gstTblHeadr reg m-cir"></th>
                                <th colspan="2" data-ng-bind="trans.HEAD_CGST" class="gstTblHeadr reg m-cir"></th>
                                <th colspan="2" data-ng-bind="trans.HEAD_SGST" class="gstTblHeadr reg m-cir"></th>
                                <th colspan="2" data-ng-bind="trans.HEAD_CESS" class="gstTblHeadr reg "></th>
                                <th rowspan="2" class="gstTblHeadr ctnTblHdr" data-ng-bind="trans.E_COMM_GSTN"></th>

                                <th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_ACTIONS"></th>
                            </tr>
                            <tr>
                                <th class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_RATE"></th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_AMOUNT"></th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_RATE"></th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_AMOUNT"></th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_RATE"></th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_AMOUNT"></th>
                                <th class="gstTblHeadr m100TblHdr reg " data-ng-bind="trans.HEAD_RATE"></th>
                                <th class="gstTblHeadr m100TblHdr reg " data-ng-bind="trans.HEAD_AMOUNT"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="y in ReturnsList | itemsPerPage: pageSize"  total-items="totalAvailable" current-page="currentPage" ng-form="invFrm">
                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" ng-true-value="'Y'" ng-false-value="'N'" />
                                    <label for="checkbox_all"></label>
                                </td>
                                <td data-ng-class="{'has-error':  (invFrm.ctin.$error.pattern || invFrm.ctin.$error.required)}">
                                    <input type="text" class="form-control formedit" name="ctin" data-ng-pattern="/^[A-Za-z0-9]{15}$/" data-ng-model="y.ctin"
                                        ng-required="true" ng-keypress="onCtinChange(y)" ng-paste="onCtinChange(y)" data-ng-disabled="true || !invFrm.edb"
                                    />
                                </td>
                                                               
                                <td>
                                    <select class="form-control" ng-options="opt.value as opt.name for opt in noteList1" ng-model="y.ntty" data-ng-disabled="!invFrm.edb"></select>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="opt.name as opt.name for opt in rsnList" ng-model="y.rsn" data-ng-disabled="!invFrm.edb"></select>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.nt_num.$error.pattern || invFrm.nt_num.$error.required)}">
                                    <input type="text" class="form-control formedit" name="nt_num" data-ng-model="y.nt_num" data-ng-pattern="/^[a-zA-Z0-9-\/]*$/"
                                        maxlength="50" ng-required="true" data-ng-disabled="!invFrm.edb" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.nt_dt.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="nt_dt" class="form-control date-picker" data-ng-model="y.nt_dt" data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
                                                data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}" data-ng-disabled="!invFrm.edb" />
                                            <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.inum.$error.pattern || invFrm.inum.$error.required)}">
                                    <input type="text" class="form-control formedit" name="inum" data-ng-model="y.inum" data-ng-pattern="/^[a-zA-Z0-9]*$/" maxlength="50"
                                        ng-required="true" data-ng-disabled="true" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.idt.$error.pattern || invFrm.idt.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="idt" class="form-control date-picker" data-ng-model="y.idt" data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
                                               data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}" data-ng-disabled="!invFrm.edb" />
                                            <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.val.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <input type="text" class="form-control text-right" name="val" data-ng-model="y.val" data-format="currency" ng-required="true"
                                            data-ng-disabled="!invFrm.edb" ng-change="onRtChange(y)" />
                                    </div>
                                </td>
                                
                                <td>
                                    <select class="form-control" name="sp_typ" ng-options="option.name for option in suplyList track by option.name" ng-model="y.sp_typ"
                                        data-ng-disabled="!invFrm.edb" data-ng-change="isIntraState(0,$index)"></select>
                                </td>
                                <!--IGST-->
                                <td data-ng-class="{'has-error': (invFrm.irt.$error.required || invFrm.irt.$error.pattern)}">
                                    <input type="text" class="form-control text-right" name="irt" ng-model="y.irt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/"
                                        ng-required="true" data-ng-change="onRtChange(y,3)" data-ng-disabled="!invFrm.edb || (isIntraState(0, $index))"
                                    />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.iamt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="iamt" ng-model="y.iamt" data-ng-pattern="/^[0-9\.]*$/" data-fraction="2"
                                        data-format="currency" ng-required="true" data-ng-disabled="!invFrm.edb  || (isIntraState(0, $index))">
                                </td>
                                <!--CGST-->
                                <td data-ng-class="{'has-error': (invFrm.crt.$error.required || invFrm.irt.$error.pattern)}">
                                    <input type="text" class="form-control text-right" name="crt" ng-model="y.crt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/"
                                        ng-required="true" data-ng-change="onRtChange(y,1)" data-ng-disabled="!invFrm.edb  || !isIntraState(0, $index)"
                                    />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.camt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="camt" ng-model="y.camt" data-ng-pattern="/^[0-9\.]*$/" data-fraction="2"
                                        data-format="currency" ng-required="true" data-ng-disabled="!invFrm.edb  || !isIntraState(0, $index)">
                                </td>
                                <!--SGST-->
                                <td data-ng-class="{'has-error': (invFrm.srt.$error.required || invFrm.irt.$error.pattern)}">
                                    <input type="text" class="form-control text-right" name="srt" ng-model="y.srt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/"
                                        ng-required="true" data-ng-change="onRtChange(y,2)" data-ng-disabled="!invFrm.edb  || (!isIntraState(0, $index))"
                                    />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.samt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="samt" ng-model="y.samt" data-ng-pattern="/^[0-9\.]*$/" data-fraction="2"
                                        data-format="currency" ng-required="true" data-ng-disabled="!invFrm.edb  || (!isIntraState(0, $index))">
                                </td>
                                
                                <!--CESS-->
                                <td data-ng-class="{'has-error': (invFrm.csrt.$error.required || invFrm.irt.$error.pattern)}">
                                    <input type="text" class="form-control text-right" name="csrt" ng-model="y.csrt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/"
                                        ng-required="true" data-ng-change="onRtChange(y,4)" data-ng-disabled="!invFrm.edb" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.csamt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="csamt" ng-model="y.csamt" data-ng-pattern="/^[0-9\.]*$/" data-fraction="2"
                                        data-format="currency" ng-required="true" data-ng-disabled="!invFrm.edb">
                                </td>
                                <td data-ng-class="{'has-error':  (invFrm.etin.$error.pattern)}">
                                    <input type="text" class="form-control formedit" name="etin" data-ng-model="y.etin" data-ng-pattern="/^[A-Za-z0-9]{15}$/"
                                        data-ng-disabled="!invFrm.edb" />
                                </td> 
                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb" data-ng-click="invFrm.edb = !invFrm.edb" tabindex="0"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" data-ng-if="invFrm.edb" data-ng-click="invFrm.edb = !invFrm.edb;updateInvoice(y)"
                                        tabindex="0" data-ng-disabled="invFrm.$invalid"><i class="fa fa-save" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tr ng-form="newInvFrm" ng-show="isLastPage(currentPage, pageSize)">
                            <td></td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.ctin.$error.pattern || newInvFrm.ctin.$error.required),'has-success': newInvValidtr && newInvFrm.ctin.$valid }">
                                <input type="text" class="form-control formedit" name="ctin" data-ng-pattern="/^[A-Za-z0-9]{15}$/" data-ng-model="newInvRw.ctin"
                                    ng-required="true" ng-keypress="onCtinChange(newInvRw)" ng-paste="onCtinChange(newInvRw)"
                                />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.ctin.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.ctin.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err" data-ng-show="newInvRw.ctin && isRecGstnAsSupGstn(newInvRw.ctin)">Receiver GSTIN Can't be same as supplier GSTIN</span>
                            </td>
                                                       
                            <td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.ntty),'has-success': newInvValidtr && newInvRw.ntty }">

                                <select class="form-control" name="ntty" ng-options="opt.value as opt.name for opt in noteList1" ng-model="newInvRw.ntty"></select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.ntty" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.rsn),'has-success': newInvValidtr && newInvRw.rsn }">
                                <select name="rsn" class="form-control" id="rsn" ng-options="opt.name as opt.name for opt in rsnList" ng-model="newInvRw.rsn"></select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.rsn" data-ng-bind="trans.ERR_MANDATORY"></span>

                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.nt_num.$error.pattern || newInvFrm.nt_num.$error.required),'has-success': newInvValidtr && newInvFrm.nt_num.$valid }">
                                <input type="text" class="form-control formedit" name="nt_num" data-ng-model="newInvRw.nt_num" data-ng-pattern="/^[a-zA-Z0-9-\/]*$/"
                                    maxlength="10" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_num.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_num.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.nt_dt.$error.pattern || newInvFrm.nt_dt.$error.required),'has-success': newInvValidtr && newInvFrm.nt_dt.$valid }">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>
                                    <input name="nt_dt" class="form-control date-picker" data-ng-model="newInvRw.nt_dt" data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
                                        data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}">
                                    <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                </div>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.nt_dt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>

                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.inum.$error.pattern || newInvFrm.inum.$error.required),'has-success': newInvValidtr && newInvFrm.inum.$valid }">
                                <input type="text" class="form-control formedit" name="inum" data-ng-model="newInvRw.inum" data-ng-pattern="/^[a-zA-Z0-9]*$/"
                                    maxlength="50" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.idt.$error.pattern || newInvFrm.idt.$error.required || dtflag),'has-success': newInvValidtr && newInvFrm.idt.$valid }">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>
                                    <input name="idt" class="form-control date-picker" data-ng-model="newInvRw.idt" data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/\-]\d{4}$/" data-ng-change="dateLimit(newInvRw.idt,{{datefunc()}})" data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
                                        data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}">
                                    <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                </div>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
								<!-- <span class="err" data-ng-if="invalid_date">{{invalidmsg}}</span> -->
								<p class="err" data-ng-if="dtflag">{{invdtmsg}}</p>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.val.$error.pattern || newInvFrm.val.$error.required),'has-success': newInvValidtr && newInvFrm.val.$valid }">
                                <input type="text" class="form-control text-right" name="val" data-ng-model="newInvRw.val" data-format="currency" data-ng-pattern="/^[0-9]{1,}$/"
                                    ng-required="true" ng-change="onRtChange(newInvRw)" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            
                            <td data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.sp_typ.name),'has-success': newInvValidtr && newInvRw.sp_typ.name }">
                                <select name="sp_typ" class="form-control" id="stype" ng-options="option.name for option in suplyList track by option.name"
                                    ng-model="newInvRw.sp_typ" data-ng-change="isIntraState(1)"></select>

                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.sp_typ.name" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <!-- IGST -->
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.irt.$error.pattern || newInvFrm.irt.$error.required),'has-success': newInvValidtr && newInvFrm.irt.$valid }">
                                <input type="text" class="form-control text-right" name="irt" ng-model="newInvRw.irt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/"
                                    ng-required="true" data-ng-change="onRtChange(newInvRw,3)" data-ng-disabled="isIntraState(1)"
                                />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.irt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.irt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.iamt.$error.pattern || newInvFrm.iamt.$error.required),'has-success': newInvValidtr && newInvFrm.iamt.$valid }">
                                <input type="text" class="form-control text-right" name="iamt" ng-model="newInvRw.iamt" data-ng-pattern="/^[0-9\.]*$/" ng-required="true"
                                    data-format="currency" data-fraction="2" data-ng-disabled="isIntraState(1)" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.iamt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.iamt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <!-- CGST -->
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.crt.$error.pattern || newInvFrm.crt.$error.required),'has-success': newInvValidtr && newInvFrm.crt.$valid }">
                                <input type="text" class="form-control text-right" name="crt" ng-model="newInvRw.crt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/"
                                    ng-required="true" data-ng-change="onRtChange(newInvRw,1)" data-ng-disabled="!isIntraState(1)"
                                />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.crt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.crt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.camt.$error.pattern || newInvFrm.camt.$error.required),'has-success': newInvValidtr && newInvFrm.iamt.$valid }">
                                <input type="text" class="form-control text-right" name="camt" ng-model="newInvRw.camt" data-ng-pattern="/^[0-9\.]*$/" ng-required="true"
                                    data-format="currency" data-fraction="2" data-ng-disabled="!isIntraState(1)" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.camt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.camt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <!-- SGST -->
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.srt.$error.pattern || newInvFrm.srt.$error.required),'has-success': newInvValidtr && newInvFrm.srt.$valid }">
                                <input type="text" class="form-control text-right" name="srt" ng-model="newInvRw.srt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/"
                                    ng-required="true" data-ng-change="onRtChange(newInvRw,2)" data-ng-disabled="!isIntraState(1)"
                                />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.srt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.srt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.samt.$error.pattern || newInvFrm.samt.$error.required),'has-success': newInvValidtr && newInvFrm.iamt.$valid }">
                                <input type="text" class="form-control text-right" name="samt" ng-model="newInvRw.samt" data-ng-pattern="/^[0-9\.]*$/" ng-required="true"
                                    data-format="currency" data-fraction="2" data-ng-disabled="!isIntraState(1)" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.samt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.samt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            
                            <!-- CESS -->
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.csrt.$error.pattern || newInvFrm.csrt.$error.required),'has-success': newInvValidtr && newInvFrm.irt.$valid }">
                                <input type="text" class="form-control text-right" name="csrt" ng-model="newInvRw.csrt" data-ng-pattern="/(^(\d{1,2}(\.\d{0,2})?)$)|(^\.+\d{0,2})|100$/"
                                    ng-required="true" data-ng-change="onRtChange(newInvRw,4)" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.csrt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.csrt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.csamt.$error.pattern || newInvFrm.csamt.$error.required),'has-success': newInvValidtr && newInvFrm.csamt.$valid }">
                                <input type="text" class="form-control text-right" name="csamt" ng-model="newInvRw.csamt" data-ng-pattern="/^[0-9\.]*$/"
                                    ng-required="true" data-format="currency" data-fraction="2" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.csamt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.csamt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.etin.$error.pattern),'has-success': newInvValidtr && newInvFrm.etin.$valid && newInvRw.etin }">
                                <input type="text" class="form-control formedit" name="etin" data-ng-pattern="/^[A-Za-z0-9]{15}$/" data-ng-model="newInvRw.etin"
                                />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.etin.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>

                            </td> 
                            <td class="text-center" colspan="2">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="flag=!flag;savePayload()"><i class="fa fa-save" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="text-center">
                    <wrap-dir-pagination></wrap-dir-pagination>
                </div>
            </div>
        </div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-primary pull-left" ng-show="ReturnsList.length" ng-click="deleteSelectedRows()">Delete</button>
        </div>
    </div>
</div>