<br>
<form name="upldmstrdashboard" novalidate="" data-ng-submit="getmstrUploadedDetails()" ng-init="forlabel(formNum)">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <h4 data-ng-bind="trans.LBL_AUTO_GSTIN"></h4>
                <hr>
            </div>
        </div>

        <div class="rettbl-format">
            <div class="row">
                <div class="col-sm-4 col-xs-12" style="margin-left: -1%;"
                    data-ng-class="{'has-error': upldmstrdashboard.$submitted && ( upldmstrdashboard.userGstin.$error.required || upldmstrdashboard.userGstin.$error.pattern),'has-success': upldmstrdashboard.$submitted && upldmstrdashboard.userGstin.$valid }">
                    <label for="userGstin" class="reg m-cir"><b>{{nameAsPerFormSelected()}}</b></label>
                    <input type="text" name="userGstin" data-ng-model="userGstin" class="form-control"
                         maxlength="{{::validations.maxlength.gstin}}"
                        data-ng-model-options="{updateOn:'blur'}" data-ng-required="true" data-ng-disabled="true" />
                    <span class="err" data-ng-show="upldmstrdashboard.$submitted && upldmstrdashboard.userGstin.$error.required"
                        data-ng-bind="trans.ERR_MANDATORY"></span>
                        <span class="err" data-ng-show="upldmstrdashboard.$submitted && userGstin && upldmstrdashboard.userGstin.$error.pattern" data-ng-bind="trans.ERR_INVALID_GSTIN"></span>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12 text-right next-tab-nav">
                    <button type="button" class="btn btn-default" data-ng-bind="trans.LBL_BACK"
                        data-ng-click="page('/gstr/home')"></button>
                    <button type="submit" class="btn btn-primary accpt" data-ng-bind="trans.BTN_PROCEED"
                    data-ng-click="page('/gstr/upload/upldmstrpreview')"></button>
                </div>
            </div>
        </div>
    </div>
</form>