<div data-ng-controller="errorreturnsctrl">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table tbl inv table-bordered" ng-show="ErrorList.length">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-click="checkAll()"
                                        ng-checked="allSelected()" />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_UR_TYPE">
                                </th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_DEBIT_CREDIT_NOTE_NO" ng-click="sort('nt_num')"></th>
                                <th rowspan="2" class="gstTblHeadr dtTblHdr reg m-cir sort"
                                    data-ng-bind="trans.LBL_DEBIT_CREDIT_NOTE_DATE" ng-click="sort('nt_dt')"></th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir"
                                    data-ng-bind="trans.LBL_NOTE_TYP"></th>
                                <th class="gstTblHeadr psTblHdr reg m-cir sort" data-ng-bind="trans.LBL_POS"
                                    ng-click="sort('pos')"></th>
                                <th class="gstTblHeadr psTblHdr reg m-cir" data-ng-bind="trans.LBL_NOT_VAL"></th>
                                <th class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_Diff_Percentage"></th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir"
                                    data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>
                                <th rowspan="2" class="gstTblHeadr errMsg" data-ng-bind="trans.LBL_Error_Message"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr" data-ng-bind="trans.LBL_ACTIONS"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr dir-paginate="y in ErrorList | filter:searchInvNum | orderBy:sortBy:sortReverse | itemsPerPage: pageSize"
                                current-page="currentPage" ng-form="invFrm" ng-init="y.old_ntnum=y.nt_num">
                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" />
                                    <label for="checkbox_all"></label>
                                </td>
                                <td>

                                    <select class="form-control" name="typ"
                                        ng-options="opt.value as opt.name for opt in URList" ng-model="y.typ"
                                        data-ng-disabled="!invFrm.edb" ng-required="true"></select>
                                </td>
                                <td
                                    data-ng-class="{'has-error': (invFrm.nt_num.$error.pattern || invFrm.nt_num.$error.required || invFrm.nt_num.$invalid)}">
                                    <input type="text" class="form-control formedit" name="nt_num"
                                        data-ng-model="y.nt_num" data-ng-pattern="/^[a-zA-Z0-9-\/]*$/"
                                        data-ng-change="isDuplicateInvoice(0,y,'nt_num',invFrm)" maxlength="50"
                                        ng-required="true" data-ng-focus="freezeOrder('nt_num')"
                                        data-ng-disabled="!invFrm.edb" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.nt_dt.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="nt_dt" class="form-control date-picker" data-ng-model="y.nt_dt"
                                                data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
                                                data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}"
                                                data-ng-disabled="!invFrm.edb" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="opt.value as opt.name for opt in noteList1"
                                        ng-model="y.ntty" data-ng-disabled="!invFrm.edb" ng-required="true"></select>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.pos.$error.required)}">
                                    <select class="form-control" name="pos"
                                        ng-options="opt.cd as opt.cd+'-'+opt.nm disable when opt.disabled for opt in StateList"
                                        ng-model="y.pos" data-ng-disabled="isTypeExp(y) || !invFrm.edb"
                                        data-ng-required="!isTypeExp(y)">
                                        <option value="">Select</option>
                                    </select>
                                </td>
                                <td
                                    data-ng-class="{'has-error': (invFrm.val.$error.pattern || invFrm.val.$error.required)}">
                                    <input type="text" class="form-control formedit" name="val" data-ng-model="y.val"
                                        maxlength="50" ng-required="true" data-ng-disabled="!invFrm.edb"
                                        data-ng-focus="freezeOrder('val')" />
                                </td>
                                <td class="text-center pRel"
                                title="{{trans.LBL_Diff_Percent_title_text}}">
                                    <select class="form-control"
                                        ng-options="option.value as option.name for option in differentialPercent"
                                        id="diff_percent" data-ng-change="onDiffPerChange(y);"
                                        data-ng-model="y.diff_percent" data-ng-disabled="isTypeExp(y) || !invFrm.edb">
                                        <option value="">Select</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control"
                                        ng-options="option.name for option in supplyList track by option.name"
                                        ng-model="y.sp_typ" data-ng-disabled="true" ng-required="true"></select>
                                </td>
                                <td class="text-center">

                                    <div class="text-center"><span data-ng-bind="y.error_msg"></span></div>

                                </td>
                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb"
                                        data-ng-click="gotoAddItems(y)" tabindex="0"
                                        data-ng-disabled="invFrm.$invalid"><i class="fa fa-plus-circle"
                                            aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb"
                                        data-ng-click="invFrm.edb=!invFrm.edb;updateInvoice(y)" tabindex="0"
                                        data-ng-disabled="invFrm.$invalid"><i class="fa fa-save"
                                            aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb"
                                        data-ng-click="invFrm.edb = !invFrm.edb " tabindex="0"><i class="fa fa-pencil"
                                            aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <span ng-show="!ErrorList.length"> No Invoices for {{sectionListSelected.cd}}</span>
                <div class="text-center">
                    <wrap-dir-pagination></wrap-dir-pagination>
                </div>
            </div>
        </div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-primary pull-left" ng-show="ErrorList.length"
                ng-click="deleteSelectedRows()">Delete</button>
        </div>
    </div>
</div>