<div data-ng-controller="uploadgstr1ctrl">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table tbl inv exp table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-true-value="'Y'"
                                        ng-false-value="'N'" ng-click="checkAll(TaxPayerSummaryList, selectAll)" />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.HEAD_GST_PAY"></th>
                                <th class="gstTblHeadr psTblHdr reg m-cir sort" data-ng-bind="trans.LBL_INVOICE_NUMBER"
                                    ng-click="sort('inum')"></th>
                                <th class="gstTblHeadr dtTblHdr reg m-cir sort" data-ng-bind="trans.LBL_INVOICE_DATE"
                                    ng-click="sort('idt')"></th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_INVOICE_VALUE"
                                    ng-click="sort('val')"></th>
                                <th class="gstTblHeadr w100TblHdr reg sort" data-ng-bind="trans.HEAD_PORT_CD"
                                    ng-click="sort('sbpcode')"></th>
                                <th class="gstTblHeadr w100TblHdr reg sort" data-ng-bind="trans.HEAD_SHIP_BILL_NO"
                                    ng-click="sort('sbnum')"></th>
                                <th class="gstTblHeadr dtTblHdr reg sort" data-ng-bind="trans.HEAD_SHIP_BILL_DATE"
                                    ng-click="sort('sbdt')"></th>
                                <!--<th class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_ORD_NO" ng-click="sort('od_num')"></th>
                                <th class="gstTblHeadr dtTblHdr reg m-cir sort" data-ng-bind="trans.LBL_ORD_DATE" ng-click="sort('od_dt')"></th>-->
                                <th class="gstTblHeadr spTblHdr reg m-cir sort" data-ng-bind="trans.LBL_SUPPLY_TYPE">
                                </th>
                                <th ng-click="sort('srctyp')" class="gstTblHeadr dtTblHdr sort">Source</th>
                                <th class="gstTblHeadr dtTblHdr sort" style="min-width: 700px;" ng-click="sort('irn')">IRN</th>
                                <th class="gstTblHeadr dtTblHdr sort" ng-click="sort('irngendate')">IRN Date</th>
                                <th class="gstTblHeadr">Status</th>
                                <th class="gstTblHeadr m100TblHdr" data-ng-bind="trans.HEAD_ACTIONS"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr dir-paginate="y in TaxPayerSummaryList | itemsPerPage: pageSize"
                                current-page="currentPage" total-items="totalAvailable" ng-form="invFrm">
                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" ng-true-value="'Y'"
                                        ng-false-value="'N'" />
                                    <label for="checkbox_all"></label>
                                </td>


                                <td data-ng-class="{'has-error': (!y.exp_typ)}">
                                    <select class="form-control" ng-options="opt.name as opt.id for opt in users"
                                        ng-model="y.exp_typ" data-ng-disabled="true || !invFrm.edb"></select>
                                </td>

                                <td
                                    data-ng-class="{'has-error':  (invFrm.inum.$error.pattern || invFrm.inum.$error.required)}">
                                    <input name="inum" type="text" class="form-control text-left"
                                        data-ng-pattern="validations.formats.invoiceregex" data-ng-model="y.inum"
                                        max-length="16" ng-required="true" data-ng-disabled="1">
                                </td>

                                <td
                                    data-ng-class="{'has-error': (invFrm.idt.$error.pattern || invFrm.idt.$error.required || invFrm.idt.$invalid)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="idt" class="form-control date-picker" data-ng-model="y.idt"
                                                data-ng-model-options="{updateOn:'blur'}" placeholder="DD-MM-YYYY"
                                                data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                                data-ng-change="dateLimit(0,y.idt,invFrm);" data-datepicker
                                                ng-required="true" data-min-years="{{minYearsAllowed}}"
                                                data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}"
                                                data-ng-disabled="true || !invFrm.edb" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.val.$error.required)}">
                                    <input name="val" type="text" class="form-control text-right" data-format="currency"
                                        data-ng-model="y.val" ng-required="true" data-ng-disabled="!invFrm.edb"
                                        data-id="invval">
                                </td>
                                <td data-ng-class="{'has-error':  invFrm.sbpcode.$error.pattern}">
                                    <input type="text" class="form-control text-center" name="sbpcode"
                                        ng-model="y.sbpcode" data-ng-pattern="/^[a-zA-Z0-9]+$/" maxlength="6"
                                        data-ng-disabled="!invFrm.edb" />
                                    <span class="err" data-ng-show="invFrm.sbpcode.$error.pattern"
                                        data-ng-bind="trans.ERR_INV_CHAR"></span>
                                </td>
                                <td
                                    data-ng-class="{'has-error':  (invFrm.sbnum.$error.required || invFrm.sbnum.$error.pattern )}">
                                    <input name="sbnum" type="text" class="form-control text-left"
                                        data-ng-pattern="/^[0-9]{3,7}$/" minlength="3" maxlength="7"
                                        data-ng-model="y.sbnum" data-ng-model-options="{updateOn:'blur'}"
                                        data-ng-required="y.sbdt" data-ng-disabled="!invFrm.edb">
                                </td>

                                <td
                                    data-ng-class="{'has-error': (invFrm.sbdt.$error.pattern ||invFrm.sbdt.$error.required || invFrm.sbdt.$invalid)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="sbdt" class="form-control date-picker" data-ng-model="y.sbdt"
                                                data-datepicker data-max-date="{{todayDate()}}"
                                                data-ng-disabled="!invFrm.edb" placeholder="DD-MM-YYYY"
                                                data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                                data-ng-model-options="{updateOn:'blur'}" data-ng-required="y.sbnum" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </td>
                                <!--<td data-ng-class="{'has-error':  (invFrm.od_num.$error.pattern || invFrm.od_num.$error.required)}">
                                    <input type="text" class="form-control text-left" name="od_num" data-ng-pattern="/^[a-zA-Z0-9]*$/" max-length="50" data-ng-model="y.od_num"
                                        ng-required="true" data-ng-disabled="!invFrm.edb">
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.od_dt.$error.pattern || invFrm.od_dt.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="od_dt" class="form-control date-picker" data-ng-model="y.od_dt" data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}"
                                                data-max-date="{{datefunc()}}" data-ng-disabled="!invFrm.edb" />
                                            <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                        </div>
                                    </div>
                                </td>-->
                                <td>
                                    <select class="form-control"
                                        ng-options="option.name for option in supplyList track by option.name"
                                        ng-model="y.sp_typ" data-ng-disabled="1"></select>
                                </td>
                                <!--
                                <td class="text-center pRel">
                                    <input type="checkbox" class="chkbx" ng-model="y.prs" ng-true-value="'Y'" ng-false-value="'N'" data-ng-disabled="!invFrm.edb"
                                    />
                                    <label for="checkbox_all" data-ng-disabled="!invFrm.edb"></label>
                                </td>
-->
                                <td>
                                    <input type="text" class="form-control formedit" name="srctyp"
                                        data-ng-model="y.srctyp" data-ng-disabled="true" />


                                </td>
                                <td class="text-center">

                                        <!-- <div class="text-center" data-toggle="tooltip" title="{{y.irn}}" >
                                                <input type="text" class="form-control formedit" name="irn"
                                                data-ng-model="y.irn.substring(60)" data-ng-disabled="true"
                                                style="text-align:center;" />
                                            </div> -->
                                           
                                                <input type="text" class="form-control formedit" name="irn"
                                                data-ng-model="y.irn" data-ng-disabled="true"
                                                style="text-align:center;" />
                                         


                                </td>

                                <td>
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="irngendate" class="form-control date-picker"
                                                data-ng-model="y.irngendate" data-datepicker
                                                data-ng-model-options="{updateOn:'blur'}" placeholder="DD-MM-YYYY"
                                                data-ng-disabled="true" />
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <!-- <span class="text-center" ng-bind="y.flag"></span> -->
                                    <span class="text-center" ng-bind="y.flag"
                                    ng-style="{ 'color' : (y.flag=='D'? '#ff0000' : '#000000')}"></span>
                                    <!--<div class="text-center" ng-if="y.flag=='A'">A</div>
                                    <div class="text-center" ng-if="y.flag=='R'">R</div>
                                    <div class="text-center" ng-if="y.flag=='M'">M</div>
                                    <div class="text-center" ng-if="y.flag=='N'">N</div>
                                    <div class="text-center" ng-if="y.flag=='P'">P</div>-->

                                </td>

                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb"
                                        data-ng-click="gotoAddItems(y)" tabindex="0"
                                        data-ng-disabled="invFrm.$invalid"><i class="fa fa-plus-circle"
                                            aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary"
                                        ng-if="((y.srctyp != '' && y.srctyp != undefined) || (y.irngendate != '' && y.irngendate != undefined) || (y.irn != '' && y.irn != undefined)) && invFrm.edb"
                                        data-msg="System has auto-populated the details from e-invoices reported to IRP. Any changes made in GSTR-1 will
                                    be marked as discrepancy. Do you want to Proceed?"
                                        data-conf-click="invFrm.edb=!invFrm.edb;updateInvoice(y);onSetDiffPer(y);"
                                        tabindex="0" data-ng-disabled="invFrm.$invalid || invFrm.$pristine"><i
                                            class="fa fa-save" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary"
                                        ng-if="((y.srctyp == '' || y.srctyp == undefined) && (y.irngendate == '' || y.irngendate == undefined) && (y.irn == '' || y.irn == undefined) ) && invFrm.edb"
                                        data-ng-click="invFrm.edb=!invFrm.edb;updateInvoice(y);onSetDiffPer(y);"
                                        tabindex="0" data-ng-disabled="invFrm.$invalid || invFrm.$pristine"><i
                                            class="fa fa-save" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb"
                                        data-ng-click="invFrm.edb = !invFrm.edb " tabindex="0"><i class="fa fa-pencil"
                                            aria-hidden="true"></i></button>
                                    <!--<button type="button" class="btn btn-sm btn-danger" ng-hide="invFrm.edb || !y.flag" data-ng-click="setDeleteFlag(y)" tabindex="0"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
                                </td>
                            </tr>
                        </tbody>

                        <tr ng-form="newInvFrm" ng-show="isLastPage(currentPage, pageSize)">
                            <td></td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.exp_typ),'has-success': newInvValidtr && newInvRw.exp_typ}">
                                <select name="exp_typ" class="form-control" id="stype" ng-model="newInvRw.exp_typ"
                                    data-ng-disabled="eidtflag">
                                    <option value="">Select</option>
                                    <option data-ng-repeat="opt in users" data-ng-bind="opt.id" value="{{opt.name}}">
                                    </option>
                                </select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.exp_typ"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.inum.$error.pattern  || newInvFrm.inum.$error.required || newInvFrm.inum.$invalid),'has-success': newInvValidtr && newInvFrm.inum.$valid }">
                                <input type="text" class="form-control formedit" name="inum"
                                    data-ng-model="newInvRw.inum" data-ng-pattern="validations.formats.invoiceregex"
                                    maxlength="16" data-ng-change="isDuplicateInvoice(1,newInvRw,'inum')"
                                    ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.inum && isInvalidNumber && newInvFrm.inum.$invalid"
                                    data-ng-bind="trans.ERR_INVALID_INV"></span>
                                <span class="err"
                                    data-ng-show="newInvRw.inum && isDuplicateNumber && newInvFrm.inum.$invalid"
                                    data-ng-bind="trans.ERR_DUPLICATE_INV"></span>
                            </td>

                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.idt.$error.pattern || newInvFrm.idt.$error.required || newInvFrm.idt.$invalid),'has-success': newInvValidtr && newInvFrm.idt.$valid }">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>
                                    <input name="idt" class="form-control date-picker" data-ng-model="newInvRw.idt"
                                        data-ng-model-options="{updateOn:'blur'}"
                                        data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                        data-ng-change="dateLimit(1,newInvRw.idt);" data-datepicker ng-required="true"
                                        data-min-years="{{minYearsAllowed}}" placeholder="DD-MM-YYYY"
                                        data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}">
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <p class="err" data-ng-show="newInvValidtr && newInvRw.idt && newInvFrm.idt.$invalid">
                                    {{invdtmsg}}</p>
                            </td>


                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.val.$error.pattern || newInvFrm.val.$error.required),'has-success': newInvValidtr && newInvFrm.val.$valid }">
                                <input type="text" class="form-control text-right" name="val"
                                    data-ng-model="newInvRw.val" data-format="currency" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.sbpcode.$error.pattern),'has-success': newInvValidtr && newInvRw.sbpcode && newInvFrm.sbpcode.$valid }">
                                <input type="text" class="form-control text-center" name="sbpcode" placeholder=""
                                    ng-model="newInvRw.sbpcode" data-ng-pattern="/^[a-zA-Z0-9]*$/" maxlength="6" />

                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.sbpcode.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>

                            </td>

                            <td
                                data-ng-class="{'has-error':  newInvValidtr && newInvRw.sbnum && (newInvFrm.sbnum.$error.pattern),'has-success': newInvRw.sbnum && newInvValidtr && newInvFrm.sbnum.$valid }">
                                <input type="text" class="form-control formedit" name="sbnum"
                                    data-ng-model="newInvRw.sbnum" data-ng-model-options="{updateOn:'blur'}"
                                    data-ng-pattern="/^[0-9]{3,7}$/" minlength="3" maxlength="7"
                                    ng-required="newInvRw.sbdt" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.sbnum.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err"
                                    data-ng-show="newInvValidtr && newInvFrm.sbnum.$error.pattern">Shipping
                                    Bill Number should be min. 3 and max. 7 digit numeric</span>
                            </td>
                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (  newInvFrm.sbdt.$error.required || newInvFrm.sbdt.$error.pattern  ),'has-success': newInvRw.sbdt && newInvValidtr && newInvFrm.sbdt.$valid }">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>
                                    <input name="sbdt" class="form-control date-picker" data-ng-model="newInvRw.sbdt"
                                        placeholder="DD-MM-YYYY"
                                        data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                        data-datepicker data-ng-model-options="{updateOn:'blur'}"
                                        data-max-date="{{todayDate()}}" ng-required="newInvRw.sbnum">

                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                                <!-- <span class="err" data-ng-show="newInvValidtr && newInvFrm.sbdt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>-->
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.sbdt.$error.pattern"
                                    data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.sbdt.$error.required"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err"
                                    data-ng-show="newInvValidtr && (newInvRw.sbdt) && (newInvFrm.sbdt.$invalid)">{{errMsg}}</span>
                            </td>


                            <!--<td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.od_num.$error.pattern || newInvFrm.od_num.$error.required),'has-success': newInvValidtr && newInvFrm.od_num.$valid }">
    <input type="text" class="form-control formedit" name="od_num" style="width: 100px; " data-ng-model="newInvRw.od_num" data-ng-pattern="/^[a-zA-Z0-9]*$/" maxlength="50" ng-required="true" />
<span class="err" data-ng-show="newInvValidtr && newInvFrm.od_num.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
<span class="err" data-ng-show="newInvValidtr && newInvFrm.od_num.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
</td>
<td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.od_dt.$error.pattern || newInvFrm.od_dt.$error.required),'has-success': newInvValidtr && newInvFrm.od_dt.$valid }">
    <div class="datepicker-icon input-group">
        <i class="fa fa-calendar"></i>
        <input name="sbdt" class="form-control date-picker" data-ng-model="newInvRw.od_dt" placeholder="DD/MM/YYYY" data-datepicker
            ng-required="true" data-min-years="{{minYearsAllowed}}" data-max-date="{{datefunc()}}">
        <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
    </div>
    <span class="err" data-ng-show="newInvValidtr && newInvFrm.od_dt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
    <span class="err" data-ng-show="newInvValidtr && newInvFrm.od_dt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
</td>-->


                            <td
                                data-ng-class="{'has-error':  newInvValidtr && (!newInvRw.sp_typ.name),'has-success': newInvValidtr && newInvRw.sp_typ.name }">
                                <select name="sp_typ" class="form-control" id="stype"
                                    ng-options="option.name for option in supplyList track by option.name"
                                    ng-model="newInvRw.sp_typ"></select>
                                <span class="err" data-ng-show="newInvValidtr && !newInvRw.sp_typ.name"
                                    data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <!--
                            <td class="text-center pRel">
                                <input type="checkbox" class="chkbx" ng-model="newInvRw.prs" ng-true-value="'Y'" ng-false-value="'N'" />
                                <label for="checkbox_all"></label>
                            </td>
-->

                            <td>
                                <input type="text" class="form-control formedit" name="srctyp"
                                    data-ng-model="newInvRw.srctyp" data-ng-disabled="true" />


                            </td>
                            <td>

                                  
                                            <input type="text" class="form-control formedit" name="irn"
                                            data-ng-model="newInvRw.irn" data-ng-disabled="true"
                                            style="text-align:center;" />
                                  
                            </td>
                            <td>
                                <div class="datepicker-icon input-group">
                                    <div class="datepicker-icon input-group">
                                        <i class="fa fa-calendar"></i>
                                        <input name="irngendate" class="form-control date-picker" data-ng-model="newInvRw.irngendate" data-datepicker
                                            data-ng-model-options="{updateOn:'blur'}" placeholder="DD-MM-YYYY" data-ng-disabled="true" />
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                    </div>
                                </div>


                            </td>
                            <td></td>
                            <td class="text-center" colspan="2">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="gotoAddItems('add')"><i
                                        class="fa fa-plus-circle" aria-hidden="true"></i></button>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="text-center">
                    <wrap-dir-pagination></wrap-dir-pagination>
                </div>
            </div>
        </div>
        <div class="btn-toolbar">
            <!--<button type="button" class="btn btn-primary pull-left" ng-show="SummaryList.length" ng-disabled="!isAllActionTaken()" ng-click="updateSelectedRows('A')">Accept</button>-->
            <!--<button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length" ng-disabled="false" ng-click="updateSelectedRows('A')">Accept</button>
            <button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length" ng-disabled="false" ng-click="updateSelectedRows('R')">Reject</button>-->
            <button type="button" class="btn btn-primary pull-left" ng-show="TaxPayerSummaryList.length"
                ng-disabled="false" ng-click="presetDeleteFlagOrDelete()">Delete</button> </div>
    </div>

</div> 
<!-- <style>
        .tooltip-inner {
          max-width: 100% !important;
      }
      </style> -->