<div data-ng-controller="errorreturnsctrl">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <!--<div class="row">
                    <div class="col-sm-12 pull-right">
                        <div class="pull-right mLeft5" wrap-csv-import callback="onpastedone"></div>
                        <button type="button" class="btn btn-primary mA0 pull-right" ctrl-paste-btn callback="onpastedone">Copy Excel </button>
                    </div>
                </div>
                <br>-->
                <div class="table-responsive">
                    <table class="table tbl inv table-bordered" ng-if="ErrorList.length > 0">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-click="checkAll()" ng-checked="allSelected()" />
                                    <label for="checkbox_all"></label>
                                </th>
                                <!--
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.HEAD_CAT"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.HEAD_HSN_SAC_SUP" ng-click="sort('hsn_sc')"></th>
-->
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg" data-ng-bind="trans.LBL_HSN"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.LBL_DESCRIPTION"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir" data-ng-bind="trans.LBL_UQC"></th>
                                <th rowspan="2" class="gstTblHeadr m100TblHdr reg m-cir sort" data-ng-bind="trans.LBL_QUANTITY" ng-click="sort('qty')"></th>
                                <th rowspan="3" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_TOTAL_VALUE"></th>
                                <th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir sort" data-ng-bind="trans.LBL_TAXABLE_VALUE" ng-click="sort('txval')"></th>

                                <!--<th rowspan="2" class="gstTblHeadr spTblHdr reg m-cir" data-ng-bind="trans.LBL_SUPPLY_TYPE"></th>-->

                                <th colspan="4" data-ng-bind="trans.HEAD_AMOUNT" class="gstTblHeadr reg m-cir"></th>
                                <th class="gstTblHeadr errMsg" rowspan="2">Error Message</th>

                                <th rowspan="2" class="gstTblHeadr">Actions</th>
                            </tr>
                            <tr>
                                <th colspan="1" data-ng-bind="trans.HEAD_IGST" class="gstTblHeadr reg m-cir"></th>
                                <th colspan="1" data-ng-bind="trans.HEAD_SGST" class="gstTblHeadr reg m-cir"></th>
                                <th colspan="1" data-ng-bind="trans.HEAD_CGST" class="gstTblHeadr reg m-cir"></th>
                                <th colspan="1" data-ng-bind="trans.HEAD_CESS" class="gstTblHeadr reg "></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr dir-paginate="y in ErrorList | filter:searchInvNum | orderBy:sortBy:sortReverse | itemsPerPage: pageSize" current-page="currentPage"
                                ng-form="invFrm">

                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" />
                                    <label for="checkbox_all"></label>
                                </td>

                                <td data-ng-class="{'has-error': (invFrm.hsn_sc.$error.pattern || invFrm.hsn_sc.$error.required)}">
                                    <input type="text" class="form-control text-center" name="hsn_sc" data-ng-model="y.hsn_sc" data-ng-pattern="/^[0-9]*$/" minlength="2"
                                        maxlength="8" ng-required="true" data-ng-disabled="!invFrm.edb" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.desc.$error.required)}">
                                    <input type="text" class="form-control formedit" name="desc" data-ng-model="y.desc" data-ng-disabled="!invFrm.edb" ng-required="true"
                                    />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.uqc.$error.required)}">
                                    <input type="text" class="form-control formedit" name="uqc" data-ng-model="y.uqc" data-ng-disabled="!invFrm.edb" ng-required="true"
                                        data-ng-pattern="/^[a-zA-Z0-9 -]*$/" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.qty.$error.required || invFrm.qty.$error.pattern)}">
                                    <input type="text" class="form-control formedit" name="qty" data-ng-model="y.qty" data-ng-disabled="!invFrm.edb" data-ng-pattern="/^([-]?[0-9]{0,15}|[-]?[0-9]{0,15}\.{1}[0-9]{0,2})$/"
                                        ng-required="true" />
                                </td>

                                <td data-ng-class="{'has-error': (invFrm.val.$error.pattern || invFrm.val.$error.required)}">
                                    <input type="text" class="form-control text-right" name="val" data-fraction="2" ng-model="y.val" data-format="currency" ng-required="true"
                                        isNeg="true" ng-change="onRtChange(y)" data-ng-disabled="!invFrm.edb" data-id="invval"
                                    />
                                </td>

                                <td data-ng-class="{'has-error': (invFrm.txval.$error.pattern || invFrm.txval.$error.required)}">
                                    <input type="text" class="form-control text-right" name="txval" data-fraction="2" ng-model="y.txval" data-format="currency"
                                        isNeg="true" ng-required="true" ng-change="onRtChange(y)" data-ng-disabled="!invFrm.edb"
                                    />
                                </td>
                                <!--<td>
                                    <select class="form-control" name="sp_typ" ng-options="option.name for option in suplyList track by option.name" ng-model="y.sp_typ"
                                        data-ng-disabled="!invFrm.edb" data-ng-change="spTypChange(0,y)"></select>
                                </td>-->
                                <!--IGST-->
                                <td data-ng-class="{'has-error': (invFrm.iamt.$error.required)}">
                                    <input type="text" class="form-control text-right" name="iamt" ng-model="y.iamt" data-fraction="2" data-format="currency"
                                        isNeg="true" ng-required="true" data-ng-disabled="!invFrm.edb" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value='₹0.00';">
</td>

<!--SGST-->
<td data-ng-class="{'has-error': (invFrm.samt.$error.required)}">
    <input type="text" class="form-control text-right" name="samt" ng-model="y.samt" data-fraction="2" data-format="currency"
        isNeg="true" ng-required="true" data-ng-disabled="!invFrm.edb" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value='₹0.00';">
</td>

<!--CGST-->
<td data-ng-class="{'has-error': (invFrm.camt.$error.required)}">
    <input type="text" class="form-control text-right" name="camt" ng-model="y.camt" data-fraction="2" data-format="currency"
        isNeg="true" ng-required="true" data-ng-disabled="!invFrm.edb" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value='₹0.00';">
</td>

<!--CESS-->
<td data-ng-class="{'has-error': (invFrm.csamt.$error.required)}">
    <input type="text" class="form-control text-right" name="csamt" ng-model="y.csamt" data-fraction="2" data-format="currency"
        isNeg="true" ng-required="true" data-ng-disabled="!invFrm.edb" onfocus="if (this.value=='₹0.00') this.value='';" onblur="if (this.value=='') this.value='₹0.00';">
</td>
<td class="text-center">

    <div class="text-center"><span data-ng-bind="error_msg"></span></div>

</td>
<td class="text-center newinv">
    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb" data-ng-click="invFrm.edb=!invFrm.edb;updateInvoice(y)"
        tabindex="0" data-ng-disabled="invFrm.$invalid"><i class="fa fa-save" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb" data-ng-click="invFrm.edb = !invFrm.edb " tabindex="0"><i class="fa fa-pencil" aria-hidden="true"></i></button>
</td>
</tr>
</tbody>
</table>
</div>
<span ng-show="!ErrorList.length"> No Invoices for {{sectionListSelected.cd}}</span>
<div class="text-center">
    <wrap-dir-pagination></wrap-dir-pagination>
</div>
</div>
</div>
<div class="btn-toolbar">
    <button type="button" class="btn btn-primary pull-left" ng-show="ErrorList.length" ng-click="deleteSelectedRows()">Delete</button>
</div>
</div>
</div>