<div ng-controller="refundsctrl">
    <div class="tabpane">
        <div class="row">
            <div class="col-sm-12">
                <!--<div class="row">
                    <div class="col-sm-12 pull-right">
                        <div class="pull-right mLeft5" wrap-csv-import callback="onpastedone"></div>
                        <button type="button" class="btn btn-primary mA0 pull-right" ctrl-paste-btn callback="onpastedone">Copy Excel </button>
                    </div>
                </div>
                <br>-->
                <div class="table-responsive">
                    <table class="table tbl inv table-bordered">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th class="gstTblHeadr ctnTblHdr reg m-cir" colspan="3">Invoice details</th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir" colspan="2">Integrated tax</th>
                                <th class="gstTblHeadr m100TblHdr reg m-cir" colspan="2">BRC/ FIRC</th>
                                <th class="gstTblHeadr dtTblHdr reg m-cir" colspan="1" rowspan="2">Integrated tax involved in debit note, if any</th>
                                <th class="gstTblHeadr dtTblHdr reg m-cir" colspan="1" rowspan="2">Integrated tax involved in credit note, if any</th>
                                <th class="gstTblHeadr dtTblHdr reg m-cir" colspan="1" rowspan="2">Net Integrated tax</th>
                                <th class="gstTblHeadr m100TblHdr" rowspan="2" data-ng-bind="trans.LBL_ACTIONS"></th>
                            </tr>
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="selectAll" ng-true-value="'Y'" ng-false-value="'N'" ng-click="checkAll(RefundsList, selectAll)" />
                                    <label for="checkbox_all"></label>
                                </th>
                                <th class="sort" ng-click="sort('inum');">No.</th>
                                <!-- <th>No.</th> -->
                                <th>Date</th>
                                <th>Value</th>
                                <th>Taxable value</th>
                                <th>Amt</th>
                                <th>No.</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<tr dir-paginate="y in orderBy('sortBy',ReturnsList) | filter:searchInvNum | itemsPerPage: pageSize" current-page="currentPage" ng-form="invFrm">-->

                            <tr dir-paginate="y in RefundsList | itemsPerPage: pageSize" current-page="currentPage" total-items="totalAvailable" ng-form="invFrm">

                                <td class="text-center">
                                    <input type="checkbox" class="chkbx" ng-model="y.select" ng-true-value="'Y'" ng-false-value="'N'" />
                                    <label for="checkbox_all"></label>
                                </td>
                                <!--  -->
                                <td data-ng-class="{'has-error': (invFrm.inum.$error.pattern || invFrm.inum.$error.required)}">
                                    <input type="text" class="form-control formedit" name="inum" data-ng-model="y.inum" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/" maxlength="16" ng-required="true" data-ng-disabled="true || !invFrm.edb" />
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.idt.$error.pattern || invFrm.idt.$error.required || invFrm.idt.$invalid)}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="idt" class="form-control date-picker" data-ng-model="y.idt" data-datepicker ng-required="true" data-min-years="{{minYearsAllowed}}" data-ng-model-options="{updateOn:'blur'}" placeholder="DD-MM-YYYY" data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                                data-datepicker ng-required="true" data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}" data-ng-disabled="!invFrm.edb" />
                                            <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td data-ng-class="{'has-error': (invFrm.val.$error.required)}">
                                    <div class="datepicker-icon input-group">
                                        <input type="text" class="form-control text-right" name="val" data-ng-model="y.val" data-format="currency" ng-required="true" data-ng-disabled="!invFrm.edb" />
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" name="type" ng-options="opt.c as opt.n for opt in InvTypeList" ng-model="y.type" data-ng-disabled="true"></select>
                                </td>

                                <td data-ng-class="{'has-error': ((invFrm.sbnum.$error.pattern || invFrm.sbnum.$error.required || invFrm.sbnum.$invalid ) && y.type=='G')}">
                                    <input type="text" class="form-control formedit" name="sbnum" data-ng-model="y.sbnum" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/" maxlength="16" ng-required="y.type=='G'" data-ng-disabled="!invFrm.edb || y.type!='G'" />
                                </td>
                                <td data-ng-class="{'has-error': ((invFrm.sbdt.$error.pattern || invFrm.sbdt.$error.required || invFrm.sbdt.$invalid) && y.type=='G')}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="sbdt" class="form-control date-picker" data-ng-model="y.sbdt" data-datepicker data-min-years="{{minYearsAllowed}}" data-ng-model-options="{updateOn:'blur'}" placeholder="DD-MM-YYYY" data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                                data-datepicker data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}" ng-required="y.type=='G'" data-ng-disabled="!invFrm.edb || y.type!='G'" />
                                            <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                        </div>
                                    </div>
                                </td>
                                <td data-ng-class="{'has-error': ((invFrm.sbpcode.$error.pattern || invFrm.sbpcode.$error.required || invFrm.sbpcode.$invalid) && y.type=='G')}">
                                    <input type="text" class="form-control formedit" name="sbpcode" data-ng-model="y.sbpcode" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/" maxlength="16" ng-required="y.type=='G'" data-ng-disabled="!invFrm.edb || y.type!='G'" />
                                </td>

                                <td data-ng-class="{'has-error': (( invFrm.egmref.$error.required || invFrm.egmref.$invalid ) && y.type=='G')}">
                                    <input type="text" class="form-control formedit" name="egmref" data-ng-model="y.egmref" maxlength="16" ng-required="y.type=='G'" data-ng-disabled="!invFrm.edb || y.type!='G'" />
                                </td>
                                <td data-ng-class="{'has-error': ((invFrm.egmrefdt.$error.pattern || invFrm.egmrefdt.$error.required || invFrm.egmrefdt.$invalid ) && y.type=='G')}">
                                    <div class="datepicker-icon input-group">
                                        <div class="datepicker-icon input-group">
                                            <i class="fa fa-calendar"></i>
                                            <input name="egmrefdt" class="form-control date-picker" data-ng-model="y.egmrefdt" data-datepicker ng-required="y.type=='G'" data-min-years="{{minYearsAllowed}}" data-ng-model-options="{updateOn:'blur'}" placeholder="DD-MM-YYYY" data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/"
                                                data-datepicker data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}" data-ng-disabled="!invFrm.edb || y.type!='G'" />
                                            <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                        </div>
                                    </div>
                                </td>

                                <td data-ng-class="{'has-error': invFrm.brcfircnum.$error.required && y.type=='S' }">
                                    <input type="text" class="form-control formedit" name="brcfircnum" data-ng-model="y.brcfircnum" maxlength="16" ng-required="y.type=='S'" data-ng-disabled="!invFrm.edb || y.type!='S'" />
                                </td>
                                <td data-ng-class="{'has-error': invFrm.brcfircdt.$error.required && y.type=='S' }">
                                    <input type="text" class="form-control formedit" name="brcfircdt" data-ng-model="y.brcfircdt" maxlength="16" ng-required="y.type=='S'" data-ng-disabled="!invFrm.edb || y.type!='S'" />
                                </td>

                                <td class="text-center newinv">
                                    <button type="button" class="btn btn-sm btn-primary" ng-if="invFrm.edb" data-ng-click="invFrm.edb=!invFrm.edb;updateInvoice(y)" tabindex="0" data-ng-disabled="invFrm.$invalid"><i class="fa fa-save" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-hide="invFrm.edb" data-ng-click="invFrm.edb = !invFrm.edb " tabindex="0"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <!-- New Record -->
                        <tr ng-form="newInvFrm" ng-show="isLastPage(currentPage, pageSize)">
                            <td></td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.inum.$error.pattern  || newInvFrm.inum.$error.required || newInvFrm.inum.$invalid),'has-success': newInvFrm.inum.$valid }">
                                <input type="text" class="form-control formedit" name="inum" data-ng-model="newInvRw.inum" data-ng-pattern="/^[a-zA-Z0-9-\/]{1,16}$/" maxlength="16" ng-change="isExistingInv(1,newInvRw.inum)" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.inum.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err" data-ng-show="newInvRw.inum && newInvFrm.inum.$invalid">Duplicate invoice number</span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.idt.$error.pattern || newInvFrm.idt.$error.required || newInvFrm.idt.$invalid),'has-success': newInvValidtr && newInvFrm.idt.$valid }">
                                <div class="datepicker-icon input-group">
                                    <i class="fa fa-calendar"></i>
                                    <input name="idt" class="form-control date-picker" data-ng-model="newInvRw.idt" data-ng-model-options="{updateOn:'blur'}" data-ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\-](0?[1-9]|1[012])[\-\-]\d{4}$/" data-ng-change="dateLimit(1,newInvRw.idt)" data-datepicker
                                        ng-required="true" data-min-years="{{minYearsAllowed}}" placeholder="DD-MM-YYYY" data-min-date="{{minDate()}}" data-max-date="{{datefunc()}}">
                                    <span class="input-group-addon"><span class="fa fa-calendar" ></span></span>
                                </div>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.idt.$error.pattern" data-ng-bind="trans.ERR_INV_CHAR"></span>
                                <span class="err" data-ng-show="newInvRw.idt && newInvFrm.idt.$invalid">{{invdtmsg}}</span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.val.$error.required),'has-success': newInvValidtr && newInvFrm.val.$valid }">
                                <input type="text" class="form-control text-right" name="val" data-ng-model="newInvRw.val" data-format="currency" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.val.$error.required),'has-success': newInvValidtr && newInvFrm.val.$valid }">
                                <input type="text" class="form-control text-right" name="val" data-ng-model="newInvRw.val" data-format="currency" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.val.$error.required),'has-success': newInvValidtr && newInvFrm.val.$valid }">
                                <input type="text" class="form-control text-right" name="val" data-ng-model="newInvRw.val" data-format="currency" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.brcfircnum.$error.pattern || newInvFrm.brcfircnum.$error.required || newInvFrm.brcfircnum.$invalid),'has-success': newInvValidtr && newInvFrm.brcfircnum.$valid }">
                                <input type="text" class="form-control formedit" name="brcfircnum" data-ng-model="newInvRw.brcfircnum" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.brcfircnum.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>
                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.brcfircdt.$error.pattern || newInvFrm.brcfircdt.$error.required || newInvFrm.brcfircdt.$invalid),'has-success': newInvValidtr && newInvFrm.brcfircdt.$valid }">
                                <input type="text" class="form-control formedit" name="brcfircdt" data-ng-model="newInvRw.brcfircdt" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.brcfircdt.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.val.$error.required),'has-success': newInvValidtr && newInvFrm.val.$valid }">
                                <input type="text" class="form-control text-right" name="val" data-ng-model="newInvRw.val" data-format="currency" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.val.$error.required),'has-success': newInvValidtr && newInvFrm.val.$valid }">
                                <input type="text" class="form-control text-right" name="val" data-ng-model="newInvRw.val" data-format="currency" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <td data-ng-class="{'has-error':  newInvValidtr && (newInvFrm.val.$error.required),'has-success': newInvValidtr && newInvFrm.val.$valid }">
                                <input type="text" class="form-control text-right" name="val" data-ng-model="newInvRw.val" data-format="currency" ng-required="true" />
                                <span class="err" data-ng-show="newInvValidtr && newInvFrm.val.$error.required" data-ng-bind="trans.ERR_MANDATORY"></span>
                            </td>

                            <td class="text-center" colspan="2">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="gotoAddItems('add')"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="text-center">
                    <!-- <div class="col-xs-2; text-right">
                        <label for="search">Invoices Per Page<input type="number" min="1" max="50" class="form-control" ng-model="pageSize"></label>
                            
                        </div>-->
                    <wrap-dir-pagination-rfd></wrap-dir-pagination-rfd>

                </div>

            </div>
        </div>
        <div class="btn-toolbar">
            <button type="button" class="btn btn-primary pull-left" ng-show="RefundsList.length" ng-click="deleteSelectedRows()">Delete</button>
        </div>
    </div>
</div>